/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	Licensed under the GNU Public License

	=============================================================================
	Filename:  style.less
	=============================================================================

--------------------------------------------------------------------------------------------------------------------- */
@import "imports/reset.less";

@import (reference) "imports/variables.less" ;
@import (reference) "imports/mixins.less" ;
@import (reference) "imports/helpers.less" ;

@import (reference) "imports/grid.less";
@import "/stylesheets/icons/style.css";
@import "imports/loader.less";
@import "imports/type.less";
@import "imports/forms.less";
@import "imports/buttons.less";
@import "imports/nav.less";
@import "imports/content.less";

html, body {
	height: 100%;
}

body {
	margin: 0 auto;
	color: @textColor;
	background-color: @bodyBackgroundColor;
	// .full-size-bg(@bodyBackgroundImage); // Better performance in Safari w/o bg
	font-family: @baseFontFamily;
	&:extend(.medium);
	font-smoothing: antialiased;
	::selection { background-color: @primary; color: @wt; }
}

//basic box classes
.block {
	padding-top: @blockPadding;
	padding-bottom: @blockPadding;
}
.block-big {
	padding-top: @headerHeight + @blockPadding/2;
	padding-bottom: @headerHeight + @blockPadding/2;
}
.container {
	&:extend(.border-box, .normal-padding-left-right);
	.center-block;
	max-width: @containerMaxWidth;
}
.block-content {
	&:extend(.border-box);
	.center-block;
	max-width: @contentMaxWidth;
}

.velocity-animating { transition: none; }

.browserupgrade,
.no-js-alert {
	&:extend(.container);
	max-width: 800px;
	.block-big;
	color: @textColorInverse;
}
.no-js-alert {
	.centered;
	.hide;
}
.no-js .no-js-alert { display: block; }

.lt-ie9 #page-container {
	.hide;
}

@import "imports/media-queries.less";
