<nav id="global-nav">
	<a href class="multi-menu-icon">
	    <div class="menu-icon">
	        <span class="line1"></span>
	        <span class="line2"></span>
	        <span class="line3"></span>
	    </div>
	    <span class="menu-icon-text">Projects</span>
	</a>
	<div class="stacks-nav">
	    <a class="prev-stack">Prev<span class="arrow"></span></a>
	    <a class="next-stack">Next<span class="arrow"></span></a>
	</div>
</nav>