<article class="container">
    <header class="section-header">
        <a href="#" class="logo logo-link">
            <div class="logo-top">YES</div>
            <div class="logo-bottom">Button</div>
        </a>
        <div class="section-header-inner">
            <h2>404</h2>
            <h1 class="title">Page not found</h1>
            <p>
                Not what you were expecting to see? <a href="/contact" class="contact-link">Let me know.</a>
            </p>
            <a href="/" class="btn btn-green home-link">Back to the start</a>
        </div>
    </header>
</article>
<footer class="footer"></footer>