<header id="stacks-header" class="section-header inverse">
	<a href="/" class="logo logo-link">
        <div class="logo-top">YES</div>
        <div class="logo-bottom">Button</div>
	</a>
	<div class="stacks-intro section-header-inner">
		<h2>Browse Projects</h2>
		<p>Select any project below to see some Yes Button design.</p>
	</div>
</header>
<div id="stacks"></div>
<footer id="stacks-footer" class="footer inverse"></footer>