<section class="hero-unit <%=inverseHero%> centered" style="background-image: url(<%background%>);">
    <div class="hero-inner">
        <div class="hero-content">
            <figure></figure>
            <h1 class="title"><%=name%></h1>
            <p><%=description%></p>
        </div>
    </div>
</section>
<section class="stack-content">
    <div class="stack-content-inner"></div>
</section>
<footer class="footer"></footer>