<section class="hero-unit <%=inverseHero%> centered">
    <div class="hero-inner">
        <div class="hero-content">
            <figure class="hero-logo" style="background-image: url('<%=logo%>');"></figure>
            <h1 class="title"><%=name%></h1>
            <p class="description"><%=description%></p>
        </div>
    </div>
    <div class="scroll-cta">
        Scroll
        <i class="icon-arrow-down"></i>
    </div>
</section>
<section class="stack-content">
    <div class="stack-block inverse" id="picturehouse-poster">
        <div class="block-content">
            <figure>
                <img data-original="img-src/picturehouse/ph-poster.jpg" class="lazy">
            </figure>
            <aside>
                <h2>Film Quiz Poster</h2>
                <p>
                    The aim of this project was to create something simple and eye-catching that somehow conveyed the nature of the event. To appeal to the film-buffs in us all, the movie poster style format seemed appropriate. In keeping with the Picturehouse style, the brand colours (black, white and blue) were used throughout.
                </p>
            </aside>
        </div>
    </div>
    <div class="stack-block" id="picturehouse-original">
        <div class="block-content">
            <aside>
                <h2>Source Graphics</h2>
                <p>
                    The shameless rendition of one of the original Reservoir Dogs movie posters was received well by the client and appealed to the target audience. The same font and a variation of a still from the film were used alongside hand-drawn 'blood splatter' effect, which appeared like blue paint – allowing safer display in public areas.
                </p>
            </aside>
            <figure>
                <img data-original="img-src/picturehouse/ph-original.jpg" class="lazy">
            </figure>
        </div>
    </div>
</section>
<footer class="footer"></footer>