<section class="hero-unit <%=inverseHero%> centered">
    <div class="hero-inner">
        <div class="hero-content">
            <figure class="hero-logo" style="background-image: url('<%=logo%>');"></figure>
            <h1 class="title"><%=name%></h1>
            <p class="description"><%=description%></p>
        </div>
    </div>
    <div class="scroll-cta">
        Scroll
        <i class="icon-arrow-down"></i>
    </div>
</section>
<section class="stack-content">
    <div class="stack-block inverse" id="rbmusic-poster">
        <div class="block-content">
            <figure>
                <img data-original="img-src/rbmusic/rbmusic-poster.jpg" class="lazy poster">
                <img data-original="img-src/rbmusic/rbmusic-arrow.png" class="lazy arrow-image">
            </figure>
            <aside>
                <h2>Initial Graphics</h2>
                <p>
                    The key graphics used throughout this project were initially designed for additional store signage. Standalone posters were also used for advertising at sponsored events.
                </p>
            </aside>
        </div>
    </div>
    <div class="stack-block" id="rbmusic-pips">
        <div class="lazy full-photo" data-original="img-src/rbmusic/rbmusic-guild-pip-photo.jpg"></div>
        <div class="block-content">
            <figure>
                <ul>
                    <li><img data-original="img-src/rbmusic/rbmusic-guild-pip.jpg" class="lazy"></li>
                    <li><img data-original="img-src/rbmusic/rbmusic-belmont-pip.jpg" class="lazy"></li>
                    <li><img data-original="img-src/rbmusic/rbmusic-green-pip.jpg" class="lazy"></li>
                </ul>
            </figure>
            <aside>
                <h2>PIP Posters</h2>
                <p>
                    Additional posters were created for advertising on <a href="https://www.google.co.uk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0CCcQFjAAahUKEwin04HLtPXIAhXDzxQKHXfjDKw&url=http%3A%2F%2Fwww.pipadverts.com%2F&usg=AFQjCNHtUBJinqifSh53TgF3FOjcOgnxSA&sig2=iOOaQcgjE5lbUfJH1_tVFg" target="_blank">Public Information Pillars</a>, strategically positioned in busy areas to direct people to the store and increase footfall.
                </p>
            </aside>
        </div>
        <div class="lazy full-photo" data-original="img-src/rbmusic/rbmusic-guild-pip-photo2.jpg"></div>
    </div>
    <div class="stack-block" id="rbmusic-bags">
        <div class="block-content">
            <aside>
                <h2>Shopping Bags</h2>
                <p>
                    The primary brand colours were inverted to produce a more easily identifiable shopping bag. Customers were encouraged to reuse the bag to increase brand awareness and save the planet in the process!
                </p>
            </aside>
            <figure>
                <img data-original="img-src/rbmusic/rbmusic-bags.png" class="lazy">
            </figure>
        </div>
    </div>
</section>
<footer class="footer"></footer>