/*--------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  buttons.less
	=============================================================================
	This file is responsible for all button styles.
--------------------------------------------------------------------------------------------------------------------- */

button, .btn, input[type="submit"] {
	background: @bk0;
	border: 2px solid @buttonColor;
	appearance: none;
	cursor: pointer;
	color: @buttonColor;

	.sans;
	&:extend(.small);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-radius: 3px;

	margin: 0 0 @margin 0;
	padding: 0.7692307692em @padding;
	text-decoration: none;
	white-space: nowrap;
	transition:
		background, box-shadow, background-image, border-color
		@fast, @fast, @fast, @fast ease;

	&:hover, &:focus, &:active {
		background: @buttonColor;
		border-color: @buttonColor;
		color: lighten(negation(@buttonColor, @buttonColor), 50%);
	}

	&:focus {
		outline: none;
		&:not(:active) {
			box-shadow: 0 0 0 2px @focusOutline;
		}
	}

	&:active {
		opacity: 0.5;
	}

	&.small {
		&:extend(.mini);
		letter-spacing: 0.1em;
		padding: 0.7272727273em @padding;
	}

	&:disabled {
		opacity: 0.5;

		&:hover {
			background: @wt0;
			color: @buttonColor;
		}

		&:active { opacity: 0.4; }
	}

	&.external-link i {
        padding-left: 0.5em;
        opacity: 0.8;
	}
}

.inverse button,
.inverse .btn,
.inverse input[type="submit"] {

	&,
	&:disabled:hover {
		background: @wt0;
		border-color: @buttonColorInverse;
		color: @buttonColorInverse;
	}

	&:hover, &:focus, &:active {
		background: @buttonColorInverse;
		border-color: @buttonColorInverse;
		color: difference(@buttonColorInverse, @wt);
	}
}

.inverse .btn-green,
a.btn-green,
.btn-green {
	background: @green;
	border-color: @green;
	color: @wt;

	&:focus,
	&:hover {
		background: darken(@green, 7%);
		border-color: darken(@green, 7%);
		color: @wt;
	}
}


button[type="submit"].submit,
input[type="submit"].submit {
	.relative;
	.btn-green;

	.success-icon,
	.spinner {
		@size: 1.5em;
		.hidden;
		.center(@size);
		.square(@size);
		font-size: @baseIconSize;
		.centered;
		line-height: @size;
	}

	.spinner {
		animation: spin linear 1s infinite;
	}

	.success-icon {
		transform: scale(0);
		transition: visibility 0s @slow,
			transform @slow ease,
			opacity @slow ease;
	}

	.text {
		transition: visibility 0s @slow;
	}

	&.success,
	&.submitting {
		.text {
			.hidden;
			transition: none;
		}
	}

	&.submitting {
		background: @textColorMuted;
		border-color: @textColorMuted;
		.spinner { .visible; }
	}

	&.success {
		.success-icon {
			.visible;
			opacity: 1;
			transform: scale(1);
			transition: visibility 0s,
				transform @slow @easeOutBack,
				opacity @slow ease;
		}
	}
}

.btn-group {
	&:extend(.centered);
	&:extend(.border-box);
	> input, > .btn, > button {
		margin-left: @paddingMini;
		margin-right: @paddingMini;
	}
}


@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}