/*------------------------------------------------------------------------------------------------------------------------
    =============================================================================
    Filename:  content
    =============================================================================
    This file is responsible for all content styles.
--------------------------------------------------------------------------------------------------------------------- */

@stackScale: 0.4;
@stackSpeed: 500ms;
@zIndexActiveStack: 2;

#main {
}

#stacks-header {
    .relative;
    min-height: (100% - (@stackScale * 100%))/2;
}

#stacks-container {
    .full-size;
    user-select: none;
    background: @bodyBackgroundColor;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .hide;
}
.stacks-visible #stacks-container,
.stacks-animating #stacks-container { display: block; }

#stacks-background {
    .full-size;
    .fixed;
    bottom: auto;
    height: 100%;
    .full-size-bg;
    z-index: -1; // Behind all site pages
    transition:
        visibility 0ms,
        opacity @slower ease;
}
.stacks-animating #stacks-background,
.stacks-visible #stacks-background {
    opacity: 0;
    .hidden;
    transition:
        visiblity 0ms @slower,
        opacity @slower ease;
}
.stacks-animating #stacks-background { transition: none; }

#stacks {
    position: relative;
    width: 100%;
    height: 100%;
    .hide;
}

#stacks-footer {
    margin-top: (@stackScale * 100%) * 0.2;
    background: @footerBackground;
}

.stack {
    position: relative;
    width: 100%;
    height: (@stackScale * 100%);
    overflow: hidden;
    margin-bottom: 2%; // Causing weird jerkiness in stack transitions?
    tap-highlight-color: @bk0;

    .stack-inner {
        position: relative;
        width: 100%; // Must set width for slideInStack & slideOutStack
        transform: scale(@stackScale);
        transform-origin: top center;
        // NOTE: scaling box-shadow is janky in firefox
    }

    .content-container {
        user-select: none;
        overflow: hidden;
        border-radius: 10px * @stackScale;
        background: @wt;
    }

    .content {
        .clearfix;
        margin-left: -2px; // Bleed
        margin-right: -2px; // Bleed
    }

    .footer {
        background: @wt;
    }

    .stack-mask {
        .absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background: mix(@bodyBackgroundColor, @bk0, 15%);
        transition: background @fast ease;
        &:hover { background: rgba(255, 255, 255, 0.08); }
        &:active { background: mix(@bodyBackgroundColor, @bk0, 40%); }
        &:focus { outline: none; }
    }

    &.focus {
        .stack-mask:not(:active) {
            background: @bk0;
            transition: none;
        }
    }

    &.selecting {
        z-index: @zIndexActiveStack;
        margin-bottom: 0;

        .content-container { border-radius: 0; }

        .stack-mask { .hide; }

        .stack-block:first-child { border-color: transparent; }
    }

    &.active {
        margin-bottom: 0;

        .content-container {
            user-select: auto;
            background: @wt0;
            transition: background-color @slower ease @stackSpeed;
        }

        .content {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.top-stack {
        z-index: 4;

        .content-container {
            transition: none;
        }
    }
}


// PAGE HEADERS
// --------------

.section-header {
    &:extend(.centered);

    .section-header-inner {
        &:extend(.normal-padding);
    }

    p {
        padding-bottom: 0;
    }

    .logo {
        margin: 0 auto;
    }
}


// STACKS HEADER
// --------------

#stacks-header {
    padding-bottom: @paddingSmall;

    .stacks-intro,
    .logo {
        .hidden;
        opacity: 0;

        transition:
            visibility 0s ease 1s,
            opacity 1s ease;
    }
}
.stacks-animating #stacks-header {
    .stacks-intro { transition: none; }
}
.stacks-visible #stacks-header {
    .stacks-intro {
        .visible;
        opacity: 1;
        transition: visibility 0s, opacity 1s ease;
    }
    .logo {
         transition: none;
        .visible;
        opacity: 0.5;

        &:focus,
        &:hover {
            opacity: 1;
            transition: opacity @slow ease;
        }
        &:active {
            opacity: 0.3;
            transition: none;
        }
    }
}


// HEROS
// --------------

.hero-unit {
    // text-shadow: 0 3px 20px @bk1; // KILLS mobile animation performance
    .relative;
    .full-size-bg();

    .hero-inner {
        &:extend(.block-big);
        &:extend(.container);
    }

    .hero-content {
    }

    p {
        max-width: 22em;
        padding-bottom: @padding;
    }

    .description {
        &:extend(.big);
    }

    button.cta {
        border-color: @green;
        background: @green;
        color: @wt;
    }

    .scroll-cta {
        .absolute;
        &:extend(.big);
        .square(5em);
        bottom: 5%;
        left: 50%;
        margin-left: -5em/2;
        .sans;
        color: @textColorMuted;
        .text-shimmer-y(@textColorMuted, @textColor);
        cursor: pointer;
        user-select: none;
        opacity: 0;
        .hidden;

        i {
            display: block;
            font-size: 1.5em;
            line-height: 2em;
        }

        &:hover {
            animation: none;
            color: @textColor;
        }
    }

    .hero-logo {
        height: 100px;
        margin-bottom: @padding;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    &.centered {
        &:extend(.centered);

        .hero-logo,
        p { .center-block; }
    }
}

.hero-unit.inverse {
    .scroll-cta {
        color: @textColorMutedInverse;
        .sans;
        .text-shimmer-y(@textColorMutedInverse, @wt);

        &:hover {
            color: @textColorInverse;
        }
    }
}

.active .hero-unit .scroll-cta {
    opacity: 1;
    .visible;
    transition:
        visibility 0ms,
        opacity @slow ease;
}
.hero-unit .scroll-cta.invisible {
    opacity: 0;
    .hidden;
    transition:
        visibility 0ms @slow,
        opacity @slow ease;
}


// STACK CONTENT
// --------------

.stack-content {
    // &:extend(.block);

    .lazy {
        .hidden;
        &.loaded { .visible; }
    }
}

.stack-block {
    .relative;

    .block-content {
        &:extend(.block, .normal-padding-left-right);
        .clearfix;
        .relative;
    }

    figure {

        img {
            width: 100%;
            display: block;
        }
    }

    &:first-child { border-top: 4px solid transparent; }

    .bg {
        z-index: -1;
        .full-size;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


/* --------------------------------------------------------------------------
Individual Page Styles
-------------------------------------------------------------------------- */

// HOME
// --------------

@keyframes background-pan {
    from {
        background-position: 0 bottom;
    }
    to {
        background-position: -99999px bottom;
    }
}

.stack-home {
    // NOTE: alpha transparency bg + bg image + transform scale = poor performance on safari
    // @bg: mix(@primary, @bk4, 10%);
    // @bg: @bk5;
    // @bg: rgba(16, 14, 18, 0.8);
    // @bg: mix(@primary, @bk8, 5%);
    // @bg: @wt1;
    @bg: @pageBackground;

    .content-container,
    &.active .content-container {
        background-color: @bg;
        // .full-size-bg(@bodyBackgroundImage);
    }

    .hero-unit {
        .relative;

        &:before {
            content: '';
            .full-size;
            background-image: url('../../img-src/flat-devices.png');
            background-position: center bottom;
            background-repeat: repeat-x;
            background-size: 65%;
            animation: background-pan 999s linear infinite;
            opacity: 0;
            visibility: hidden;
            transition:
                visibility 0ms @slow,
                opacity @slow ease;
        }

        .intro-end-content {
            .relative;
        }

        .hero-inner {
            padding-bottom: @padding;
        }

        .cta-button {
            background: @green;
            border-color: @green;
            color: @wt;
        }
    }

    .intro-start {
        background: @wt;
        .full-size;
        overflow: hidden;
        .centered;
        user-select: none;
        .hide;

        // Roughly position y center
        .intro-start-inner {
            @h: 3.125em + 1em + 3.3125em + 2.75em + 1.125em ; // Approx calc
            .absolute;
            top: 50%;
            margin-top: -@h/2;
            width: 100%;
        }

        .title {
            color: @textColor;
            margin-bottom: 1em;
        }

        .yes {
            background-color: @green;
            border: none;
            .big;
            border-radius: 5px;
            padding: 0.5em 2em;
            letter-spacing: 0.05em;

            .pulse();

            &:focus,
            &:hover {
                color: @wt;
            }
        }

        p em {
            .muted-light;
        }

        &.intro-started {
            p,
            .yes,
            .title { .hide; }
        }
    }

    .logo {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -@optimalLogoWidth/2;
        transition: opacity @slow ease;
        cursor: default;
        opacity: 0.4;
    }
}

.stack-home.active {
    .hero-unit:before {
        opacity: 1;
        .visible;
        transition:
            visibility 0ms,
            opacity @slow ease;
    }
}

.stacks-animating,
.stacks-visible {
    .stack-home .logo {
        .hidden;
        opacity: 0;
        transition: none;
    }
}

.introduction {

    .multi-menu-icon {
        opacity: 0;
        .hidden;
        transition: none;
    }

    .stack-home {
        .intro-start { display: block; }
        .intro-end {
            .hidden;
            opacity: 0;
        }

        .logo {
            @duration: @slower;
            @duration: 2000ms;
            @easing: @easeOutQuint;

            transition: opacity 500ms ease;

            .logo-top {
                transition: opacity @duration @easing;
            }

            .logo-bottom {
                transition:
                    transform @duration @easing,
                    opacity @duration @easing;
            }

            &.intro-position {

                .logo-top {
                    opacity: 0;
                }

                .logo-bottom {
                    opacity: 0;
                    transform: translateY(-30%);
                }
            }
        }
    }
}


// SALESSEEK
// --------------

.stack-salesseek {
    @ss-primary: #1197F7;
    @ss-secondary: lighten(@purple, 10%);
    @ss-dark: #0E213A;
    @ss-muted: #F0EFFE;

    .hero-unit {
        // background: linear-gradient(to bottom, @ss-primary, @ss-secondary);
        // background-color: @ss-primary;
        // .full-size-bg('../../img-src/salesseek/ss-bg.jpg');
        // margin-bottom: -2px; // Bleed
    }

    .content-container { background: @ss-primary; }

    .stack-block {
        overflow: hidden;
    }

    .stack-block-header {
        .column(6);
        .push(3);
        margin-bottom: @paddingLarge;

        h2,
        h1 {
            .centered;
        }
    }

    .slideshow-container {
        .relative;
        .column(12);
    }

    #ss-intro-block {
        .relative;
        // background: @wt2;
        background: linear-gradient(to bottom, @wt4, @ss-secondary);
        border-top: none;
        overflow: visible;

        .block-content {
            display: table;
            padding-top: 0;
            padding-bottom: 0;
        }

        figure,
        aside {
            display: table-cell;
            vertical-align: middle;
        }

        figure {
            .relative;
            width: 65%;

            img {
                .absolute;
                bottom: 0;
                width: 1255px;
            }
        }

        aside {
            &:extend(.block-big);
        }

        p {
            padding-bottom: @padding;
        }
    }

    #ss-filters-block {
        background: @bk8;

        .bg {
            z-index: 0;
            opacity: 0.3;
            background-position: center top;
            background-size: cover;
        }

        aside {
            .relative;
            .column(5);
            &:extend(.block);
        }

        figure {
            .relative;
            .column(7);

            img {
                .center-block;
                max-width: 700px;
                border-radius: 0.25em;
                box-shadow:
                    0 8px 30px @bk2,
                    0 0 1px @bk3;
            }
        }
    }

    #ss-mockups-block {
        background: @wt9;

        .block-content {
            display: table;
        }

        figure,
        aside {
            display: table-cell;
            vertical-align: middle;
        }

        aside {
            &:extend(.normal-padding-left-right);

            p {
                padding-bottom: @padding;
            }
        }

        figure {
            width: 60%;

            img {
                width: 130%;
                max-width: 1000px;
            }
        }
    }

    #ss-iphone-block {
        background: @wt;
        // background: linear-gradient(to bottom, @ss-primary, @ss-secondary);

        figure {
            .column(7);

            ul {
                .row;
            }

            li {
                .relative;

                &:first-child {
                    .column(2.8);
                }

                &:nth-child(2) {
                    .column(3);
                }

                &:last-child {
                    .column(3.2);
                }
            }

            img {
                max-width: 459px;
                width: 220%;
            }
        }

        aside {
            .column(5);
            &:extend(.block-big);

            p {
                padding-bottom: @padding;
            }
        }
    }

    #ss-iphone-features-block {
        background: @wt8;
        overflow: hidden;

        header p { .centered; }

        figure {
            .absolute;
            left: 0;
            .column(5);
            .push(3.5);
        }

        aside {
            @icon: rgba(0, 0, 0, 0.15);
            .column(3.5);
            &:extend(.normal-padding-top-bottom);

            &:last-child {
                .push(5);
            }

            ul {
                display: block;
            }

            li {
                overflow: hidden;
                padding: @padding 0;
                cursor: pointer;

                &:hover {
                    i {
                        color: mix(@ss-primary, @wt0, 50%);
                        border-color: mix(@ss-primary, @wt0, 50%);
                    }
                }

                &:active {
                    opacity: 0.4;
                }
            }

            i {
                font-size: 2em;
                line-height: 2em;
                width: 2em;
                .centered;
                color: @icon;
                border: 2px solid @icon;
                .border-box;
                border-radius: 50%;
                user-select: none;
            }

            h5 {
                margin: 0;
            }

            p {
                padding: 0;
            }

            li.active {
                opacity: 1;

                i {
                    color: @ss-primary;
                    border-color: @ss-primary;
                }
            }

            &.features-left {
                text-align: right;

                li {
                    padding-right: 5em;
                }

                i {
                    float: right;
                    margin-right: -2.5em;
                }
            }

            &.features-right {
                text-align: left;

                li {
                    padding-left: 5em;
                }

                i {
                    float: left;
                    margin-left: -2.5em;
                }
            }
        }
    }

    #ss-devices-block {
        // background: @wt;
        background: linear-gradient(to bottom, @bk0, @ss-secondary);

        .block-content {
            display: table;
        }

        figure,
        aside {
            display: table-cell;
            vertical-align: middle;
        }

        figure {
            .relative;
            width: 60%;

            img {
                width: 140%;
                max-width: 1240px;
            }
        }

        aside {
            &:extend(.normal-padding-left-right);
        }
    }

    #ss-icons-block {
        background: @wt;
        .centered;

        .block-content > ul {
            .column(12);
        }

        li {
            .column(4);
        }

        figure {
            .center-block;
            max-width: 128px*2;
            margin-bottom: 3em;
        }

        aside {
        }
    }

    #ss-dashboards-block {
        background: @wt;

        .stack-block-header {
            margin-bottom: 0;
        }

        figure {
            .column(9);
            .push(1.5);
        }

        aside {
            @icon: @bk3;

            .column(8);
            .push(2);
            padding-top: @padding;

            ul {
                .row();
            }

            li {
                .column(4);
                overflow: hidden;
                padding: @padding/2 0;
                cursor: pointer;
                opacity: 0.4;
                user-select: none;
                transition: opacity @fast ease;

                &:hover {
                    opacity: 0.7;
                }

                &:active {
                    opacity: 0.4;
                }

                > div { overflow: hidden; }

            }

            i {
                display: block;
                float: left;
                margin-bottom: 0.5em;
                font-size: 2em;
                line-height: 2em;
                margin-right: 0.5em;
                width: 2em;
                .centered;
                color: @icon;
                border: 2px solid @icon;
                .border-box;
                border-radius: 50%;
            }

            h5 {
                margin-bottom: 0.25em;
                transition: color @fast ease;
            }

            p {
                color: @textColorMuted;
            }


            li.active {
                opacity: 1;

                i {
                    border-color: @ss-primary;
                    color: @ss-primary;
                }

                h5 {
                    color: @ss-primary;
                }
            }
        }
    }

    #ss-webapp-block {
        .relative;

        .block-content {
            padding-bottom: 0;
        }

        &:before {
            content: '';
            .full-size;
            top: 70%;
            background: @wt9;
        }

        figure {
            .relative;
            .column(12);

            img {
                .center-block;
                max-width: 1990px/2;
            }
        }
    }

    #ss-misc-block {
        background: @wt9;
        .relative;

        aside {
            .column(12);

            ul {
                .row;
            }

            li {
                .column(4);
                &:extend(.normal-padding);
            }

            i {
                .absolute;
                float: left;
                width: 1em;
                margin-left: -3em;
                padding: 0 1em;
                font-size: 1.25em;
                line-height: 1.5em;
                color: @green;
                .hide;
            }

            span {
                display: block;
                .size(18em, 100%);
                margin-bottom: @paddingLarge;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 0.25em;
                box-shadow:
                    0 8px 25px @bk1,
                    0 0 1px @bk3;
            }

            .ss-activity span {
                background-position: top right;
            }

            .ss-content span,
            .ss-tasks span,
            .ss-groups span {
                background-position: top left;
            }

            .ss-import span {
                background-position: 60% 40%;
            }

            .ss-mapping span {
                background-position: 50% 45%;
            }
        }
    }

    #ss-tables-block {
        background: @wt9;

        .block-content {
            padding-bottom: 0;
        }

        section {
            .column(12);
        }

        figure {
            .relative;
            .row(12);

            img {

                &:first-child {
                    .column(6);
                    .absolute;
                    left: 0;
                    margin-top: 5%;
                }

                &:nth-child(2) {
                    .column(6);
                    .push(6);
                    .absolute;
                    left: 0;
                    margin-top: 5%;
                }

                &:last-child {
                    .relative;
                    .column(6);
                    .push(3);
                    margin-bottom: -2em;
                }
            }
        }
    }

    #ss-datavis-block {
        background: linear-gradient(to bottom, @bk0, @ss-secondary);

        figure {
            .column(8);

            img {
                width: 115%;
                max-width: 1392px;
            }
        }

        aside {
            @icon: @bk3;
            .column(4);

            ul {
                display: block;
                .clearfix;
            }

            li {
                overflow: hidden;
                padding: @padding;
                padding-left: @padding*2;
                cursor: pointer;
                opacity: 0.5;
                transition: opacity @fast ease;

                &:hover {
                    opacity: 1;
                    // background: rgba(255, 255, 255, 0.07);
                }

                &:active {
                    opacity: 0.4;
                }
            }

            i {
                .absolute;
                margin-left: -2em;
                display: block;
                font-size: 2em;
                line-height: 1em;
                width: 2em;
                .centered;
                color: @icon;
                user-select: none;
                transition: color @slow ease;
            }

            p {
                padding: 0;
            }

            li.active {
                opacity: 1;
                // background: rgba(0, 0, 0, 0.07);

                i {
                    color: @wt;
                    border-color: @wt;
                }
            }
        }
    }

    #ss-campaign-block {
        background: @bk7;

        figure {
            .column(12);

            ul {
                .relative;
                .center-block;
                max-width: 1042px;
                overflow: hidden;
                border-radius: 0.25em;
                box-shadow: 0 3px 20px @bk2;
            }
        }
    }

    #ss-pipeline-block {
        background: @wt9;

        aside {
            .column(5);
            &:extend(.block);
        }

        figure {
            .column(7);

            ul {
                .relative;
                .center-block;
                max-width: 722px;
            }
        }
    }
}


// R&B MUSIC
// --------------

.stack-rbmusic {
    // @rbmusic: rgb(21, 79, 150);
    @rbmusic: #0E3771;
    // @rbmusic-dark: #0E213A;
    @rbmusic-dark: darken(@rbmusic, 12%);

    .content-container {
        background: @rbmusic;
    }
    &.active .content-container {
        background: mix(@rbmusic, @bk2, 85%);
    }

    .hero-unit {
        // background: linear-gradient(to bottom, lighten(@rbmusic, 20%), @rbmusic);
        margin-bottom: -2px; // Bleed;

        .hero-inner {
            &:extend(.block-big);
        }
    }

    .stack-block:first-child { border-top-color: @rbmusic; }

    #rbmusic-poster {
        // @bg: @rbmusic-dark;

        .relative;
        background: @bk5;
        overflow: hidden;

        &:after {
            content: '';
            .full-size;
            box-shadow: inset 0 -200px 100px -100px @bk3;
        }

        figure {
            .column(5.5);
            .absolute;
            top: 13%;
            height: 87%;

            .arrow-image {
                .absolute;
                right: -35%;
                top: -7%;
                width: 50%;
            }

            .poster {
                .border-radius(3px);
                box-shadow: 0 20px 25px -15px @bk3;
            }
        }

        aside {
            .relative;
            .column(5.5);
            .push(6.5);
            &:extend(.block);
        }
    }

    #rbmusic-pips {
        background: @wt;
        .centered;

        figure {
            padding-bottom: @paddingLarge;
            .column(9);
            .push(1.5);

            ul {
                display: block;
                .clearfix;

                li {
                    .column(4);

                    img {
                        box-shadow: 0 20px 25px -15px @bk3;
                    }

                    &:nth-child(2) {
                        margin-top: 3%;
                    }
                }
            }
        }

        aside {
            .column(7);
            .push(2.5);
            padding-top: @paddingLarge;
        }

        .full-photo {
            .clearfix;
            .relative;
            height: 500px;
            .full-size-bg();
        }
    }

    #rbmusic-bags {
        background: @wt;

        .block-content {
            display: table;
        }

        figure,
        aside {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            &:extend(.normal-padding-left-right);
        }

        figure {
            .relative;

            img {
                width: 170%;
            }
        }
    }
}


// PICTUREHOUSE
// --------------

.stack-picturehouse {

    .content-container {
        background: @bk3;
    }

    .hero-unit {
        background: rgba(255, 255, 255, 0.95);
    }

    figure img {
        .center-block;
        box-shadow: 0 4px 30px @bk1;
    }


    #picturehouse-original {
        background: @wt;

        .block-content {
            display: table;
        }

        aside,
        figure {
            display: table-cell;
            vertical-align: middle;
        }

        aside {
            &:extend(.normal-padding-left-right);
        }

        figure {
            width: 50%;

            img { max-width: 400px; }
        }
    }

    #picturehouse-poster {
        background: @bk5;
        color: @wt9;

        figure {
            .column(6);
            .push(3);
            margin-bottom: @paddingLarge;

            img { max-width: 877px/2; }
        }

        aside {
            .column(6);
            .push(3);
            .centered;
        }
    }
}


// SLIDESHOWS
// --------------
// Note: currently only works with same aspect images

.slideshow {
    .relative;

    li {
        .absolute;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 0;
    }

    li:first-child {
        .relative; // Set the height
    }

    li.active {
        z-index: 1;
    }
}

.slideshow.iphone-slideshow {
    .size(floor(1830px/2), floor(1095px/2));

    .iphone {
        .full-size;
        background-image: url('../../img-src/iphone6.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        z-index: 1;
    }

    ul {
        display: block;

        // Underlying black screen layer
        &:before {
            content: '';
            .absolute;
            top: 0;
            margin-top: 18%;
            left: 14%;
            width: 73%;
            padding-top: 125%;
            background: @grayDarker;
        }
    }

    li {
        top: auto;
        left: 15.7%;
        margin-top: 19.5%;
        width: 68.7%; // Natural: 375 x 667

        &:first-child {
            .absolute;
        }
    }
}



// Contact Section
// ---------------

#contact {
    .centered;
    background: @pageBackground;

    .content {

        p {
            .center-block;
            max-width: @mobile-max-width;
        }
    }

    .footer {
        background: @footerBackground;
    }
}

#contact-form {
    max-width: @tablet-max-width;
    .clearfix;

    .fieldset {
        max-width: none;
        .column(6);
    }

    .form-actions {
        .column(6);
        .push(6);
        text-align: right;
    }
}


// 404 Page
#notfound {
    .centered;
    background: @pageBackground;

    h2 {
        color: @textColorMutedInverse;
        .serif;
    }

    p {
        padding-bottom: @padding;
    }

    .btn {
        display: inline-block;
    }
}
