/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  forms.less
	=============================================================================
	This file is responsible for any styles for forms.
--------------------------------------------------------------------------------------------------------------------- */

form {
	display: block;
	margin: 0 auto;

	// <fieldset> messes up in old Opera when used with grid (display: inline)
	.fieldset {
		.relative;
		&:extend(.border-box);
		.center-block;
		padding-bottom: @paddingSmall;

		textarea.form-field,
		input.form-field {
			margin-top: @paddingSmall;
		}
	}

	.error-message {
		.absolute;
		width: 100%;
		padding: @paddingMini @paddingSmall;
		text-align: left;
		&:extend(.small);
		color: @errorText;
		background: @errorBackground;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		box-shadow: 0 3px 5px -1px @bk2;
		z-index: 1;

		.hidden;
		opacity: 0;
		transform-origin: 50% 0;
		transform: scaleY(0);
		transition:
			visibility 0s @slow,
			transform @slow ease,
			opacity @slow ease;
	}
	.form-field.invalid:focus + .error-message {
		.visible;
		opacity: 1;
		transform: scaleY(1);
		transition:
			visibility 0s,
			transform @slow @easeOutBack,
			opacity @slow ease;
	}

	.form-messages {
		.hide;
		.fixed;
		.centered;
		top: 0;
		left: 0;
		width: 100%;
		padding: @paddingMini @paddingSmall;
		z-index: @z-index-header;
		background: @infoBackground;
		color: @infoText;
		box-shadow: 0 2px 4px @bk2;

		&.success {
			background: @successBackground;
			color: @successText;
		}
		&.error {
			background: @errorBackground;
			color: @errorText;
		}
	}
}

textarea,
input {
	&:not([type]), &[type="color"], &[type="email"], &[type="number"], &[type="password"], &[type="tel"], &[type="url"], &[type="text"] {
		appearance: none;
		display: block;
		width: 100%;
		&:extend(.border-box);
		margin: 0;
		padding: @paddingMini @paddingSmall;
		.text-overflow;
		font-family: @baseFontFamily;
		&:extend(.medium);
		color: @inputColor;

		// Mixin doesn't work ???
		&::-webkit-input-placeholder { color: @inputPlaceholder; }
		&:-ms-input-placeholder { color: @inputPlaceholder; }
		&::-moz-placeholder { color: @inputPlaceholder; }
		&:-moz-placeholder { color: @inputPlaceholder; }

		// Fix a bug with ignored input line-heights in FF
		line-height: 1;
		height: @paddingMini * 2 + @baseLineHeight + 0.125em;

		border: 1px solid @inputBorder;
		background: @inputBackground;
		border-radius: 2px;

		transition: background, border, color @fast ease;

		&:focus {
			outline: none;
			background: @inputBackgroundFocus;
			border-color: @inputBorderFocus;
			color: @inputColorFocus;

			// Mixin doesn't work ???
	        &::-webkit-input-placeholder { color: @inputPlaceholderFocus; }
	        &:-ms-input-placeholder { color: @inputPlaceholderFocus; }
	        &::-moz-placeholder { color: @inputPlaceholderFocus; }
	        &:-moz-placeholder { color: @inputPlaceholderFocus; }

		}
	}
}

textarea {
	// Match the height of two form-fields + padding
	min-height: (@paddingMini * 4) + (@baseLineHeight * 2) + @paddingSmall + 0.25em;
	height: auto;
	.resizable(vertical);

	// For specifity - to reset line-height, give textarea a name attr
	&[name] {
		line-height: @baseLineHeight;
	}
}


textarea.form-field,
input.form-field {
	&.invalid {
		@placeholder: mix(@errorBorder, @inputPlaceholder, 25%);
		@placeholderFocus: mix(@errorBorder, @inputPlaceholderFocus, 30%);

		border-color: @errorBorder;
		transform-origin: center center;

		// Mixin doesn't work ???
        &::-webkit-input-placeholder { color: @placeholder; }
        &:-ms-input-placeholder { color: @placeholder; }
        &::-moz-placeholder { color: @placeholder; }
        &:-moz-placeholder { color: @placeholder; }

		&:focus {
			border-color: @errorBackground;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;

			// Mixin doesn't work ???
	        &::-webkit-input-placeholder { color: @placeholderFocus; }
	        &:-ms-input-placeholder { color: @placeholderFocus; }
	        &::-moz-placeholder { color: @placeholderFocus; }
	        &:-moz-placeholder { color: @placeholderFocus; }
		}
	}

	&.valid {
		animation: field-valid 2s ease-out 0s 1;
	}
}

.form-actions {
	padding-bottom: @padding;

	> input, > .btn, > button {
		margin: 0;
	}
}

// Why aren"t we using the mixin?  Because it bloats it up with ms-specific stuff we don"t need
@keyframes field-valid {
	from {
		border-color: @successBorder;
	}
}

@keyframes shake-horizontal {
	10%, 90% {
		transform: translateX(-4px);
	}
	20%, 80% {
		transform: translateX(6px);
	}
	30%, 50%, 70% {
		transform: translateX(-8px);
	}
	40%, 60% {
		transform: translateX(7px);
	}
	0%, 100% {
		transform: translateX(0);
	}
}

.shake-horizontal {
	animation: shake-horizontal 800ms ease-in-out 1;
}




