/* =============================================================================
Measurement Creator
========================================================================== */
/*.generateMixins(@property, @directions: top, bottom, top-bottom, left, right, left-right) {
	.setMeasurements(@index) when (@index > @measurementLevels) {
		@size: extract(@measurements, @index); //now we have something like padding
		//.paddingLarge: @paddingLarge;
		@direction: extract(@directions, @index);
		.@{property}-@{size}: @@{property}-@{size};
		.setMeasurements(@index - 1);
	}
	.setMeasurements(@measurementLevels) {}
	.setMeasurements();
}*/

/* =============================================================================
Paddings
========================================================================== */
.padding-none {
	padding: 0;
}

.normal-padding {
	padding: @padding;
}

.normal-padding-top-bottom {
	padding: @padding 0;
}

.normal-padding-left-right {
	padding: 0 @padding;
}

.padding-small {
	padding: @paddingSmall;
}

.padding-large {
	padding: @paddingLarge
}
/* =============================================================================
Margins
========================================================================== */
.margin-none {
	margin: 0;
}

.normal-margin {
	margin: @margin;
}

.normal-margin-bottom {
	margin-bottom: @margin;
}

.normal-margin-top-bottom {
	margin: @margin 0;
}

.normal-margin-left-right {
	margin: 0 @margin;
}

/* =============================================================================
Layout
========================================================================== */

// Webkit-style focus
// ------------------
.tab-focus {
	// Default
	outline: thin dotted fade(@textColor, 40%); // Webkit
	outline: @paddingMini auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Remove tap highlighting in iOS
.remove-tap-highlight {
	tap-highlight-color: @bk0;
}

.inline {
	.inline-block();
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
.ie7-restore-left-whitespace() {
	*margin-left: .3em;

	&:first-child {
		*margin-left: 0;
	}
}

.ie7-restore-right-whitespace() {
	*margin-right: .3em;

	&:last-child {
		*margin-left: 0;
	}
}

// Centre-align a block level element
// ----------------------------------
.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* =============================================================================
Text
========================================================================== */

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// Reset filters for IE
.reset-filter() {
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}

.centered {
	text-align: center;
}

/* =============================================================================
Display
========================================================================== */

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.show-phone {
	display: none;
}

/* =============================================================================
Overflow
========================================================================== */
.overflow-visible {
	overflow: visible;
}

.overflow-hidden {
	overflow: hidden;
}

/* =============================================================================
Floats
========================================================================== */
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* =============================================================================
Positions
========================================================================== */
.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

.static {
	position: static;
}

.full-size {
	.absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.position-reset {
	.static;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
}

.center(@w, @h: @w) {
	.absolute;
	top: 50%;
	margin-top: -@h/2;
	left: 50%;
	margin-left: -@w/2;
}

/* =============================================================================
Display Hacks
========================================================================== */
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
	&:extend(.border-none);
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	&:extend(.overflow-hidden);
	&:extend(.padding-none);
	&:extend(.absolute);
	width: 1px;
	left: -500%;

	&.focusable {
		&:active, &:focus {
			/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
			clip: auto;
			height: auto;
			&:extend(.margin-none);
			&:extend(.overflow-visible);
			&:extend(.static);
			width: auto;
		}
	}
}

/* For image replacement */
.ir {
	display: block;
	text-indent: -99in;
	&:extend(.overflow-hidden);
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* For full size background images */
.full-size-bg(@url) when (isstring(@url)) {
	background-image: url(@url);
	.full-size-bg;
}
.full-size-bg() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}