/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht


	Licensed under the GNU Public License

	=============================================================================
	Filename:  media-queries.less
	=============================================================================
	This file is responsible for all responsiveness in the template.
 --------------------------------------------------------------------------------------------------------------------- */

/* Desktop */

@media only screen and (min-width: @desktop-min-width) {


	// CONTAINERS

	.block {
		padding-top: @blockPadding * 1.5;
		padding-bottom: @blockPadding * 1.5;
	}
	.block-big {
		padding-top: @headerHeightMobile + @blockPadding*1.5;
		padding-bottom: @headerHeightMobile + @blockPadding*1.5;
		// padding-top: 19%;
		// padding-bottom: 19%;
	}
}

@media handheld, only screen and (max-width: @widescreen-min-width) {
	.stack-salesseek {
		#ss-datavis-block {

			figure {
				.column(12);

				img {
					width: 100%;
				}
			}

			aside {
				.column(12);
				margin-bottom: @padding;

				li {
					.column(6);
				}
			}
		}

		#ss-iphone-features-block {

			aside {
				.column(4);

				&:last-child {
					.push(4);
				}
			}
		}
	}
}

/* Bigger Desktops */

@media only screen and (min-width: @widescreen-min-width) {


	.block {
		padding-top: @blockPadding * 1.5;
		padding-bottom: @blockPadding * 1.5;
	}
	.block-big {
		padding-top: @headerHeight + @blockPadding*1.5;
		padding-bottom: @headerHeight + @blockPadding*1.5;
	}


	// RBMUSIC

	.stack-rbmusic #rbmusic-poster .block-content {
        &:extend(.block-big);
    }

}

/* Cinema Displays */

@media only screen and (min-width: @cinema-min-width) {

	body {
		font-size: 18px;
	}

}

/* Tablet and below */

@media handheld, only screen and (max-width: @tablet-max-width) {

	body {
		width: 100%;
	}

	// TYPE

	.big {
		.medium;
	}

	.large {
		font-size: @fontSizeBig;
		line-height: 1.4090909091;
		letter-spacing: -0.01em;
	}

	.huge {
		font-size: @fontSizeLarge;
		line-height: 1.3;
		letter-spacing: -0.025em;
	}

	.massive {
		font-size: @fontSizeHuge;
		line-height: 1.25;
		letter-spacing: -0.025em;
	}

	.gigantic {
		font-size: @fontSizeMassive;
		line-height: 1.25;
		letter-spacing: -0.025em;
	}

	h1.title {
		margin-bottom: 0.2884615385em;
	}
	h1 {
		margin-bottom: 0.325em;
	}
	h2 {
		margin-bottom: 0.4em;
	}
	h3 {
		margin-bottom: @paddingMini;
		font-weight: @baseFontWeight;
	}


	// CONTAINERS

	.normal-padding {
		padding: @paddingSmall;
	}

	.normal-padding-left-right {
		padding-left: @paddingSmall;
		padding-right: @paddingSmall;
	}

	.normal-padding-top-bottom {
		padding-top: @paddingSmall;
		padding-bottom: @paddingSmall;
	}

	.block-content {
		max-width: @contentMaxWidthTablet;
	}


	// ELEMENTS

	.btn-group-split {
		.clearfix;
		button, .btn, input[type="submit"] {
			max-width: none;
			.column(6);
		}
	}

	.multi-menu-icon .menu-icon-text {
		line-height: @menuIconSize; // Redefine for specifity
	}


	// HOME

	.stack-home {
		.hero-unit:before {
			background-size: 100%;
		}
	}


	.stack-content .stack-block .block-content {
		.block;
	}


	// SALESSEEK

	.stack-salesseek {

		.stack-block-header {
			.column(10);
			.push(1);
		}

		#ss-intro-block {

			.block-content {
				display: block;
			}

			aside {
				.column(10);
				.push(1);
				.block;
				.centered;
			}

			figure {
				.column(12);

				img {
					.relative;
					width: 125%;
				}
			}
		}

		#ss-misc-block {
			aside li {
				.column(10);
				.push(1);
			}
		}

		#ss-filters-block {

			aside {
				.column(10);
				.push(1);
				padding-bottom: 0;

				h2 {
					.centered;
				}
			}

			figure {
				.column(12);
			}
		}

		#ss-dashboards-block {

			aside {
				.column(12);
				.centered;

				i {
					float: none;
					.center-block;
				}
			}

			figure {
				.column(12);
			}
		}

		#ss-pipeline-block {

			aside {
				.column(10);
				.push(1);
				padding-top: @paddingLarge;
				padding-bottom: 0;

				h2 {
					.centered;
				}
			}

			figure {
				.column(12);
			}
		}

		#ss-mockups-block {

			aside {
				.column(10);
				.push(1);
				padding-bottom: @paddingLarge;
				.centered;

				p {
					text-align: left;
				}
			}

			figure {
				.column(12);

				img {
					width: 100%;
				}
			}
		}

		#ss-iphone-block {

			aside {
				.column(10);
				.push(1);
				padding-top: 0;
				padding-bottom: 0;
			}

			figure {
				.column(10);
				.push(1);
			}
		}

		#ss-iphone-features-block {

			aside {

				&,
				&:last-child {
					float: none;
					display: block;
					width: 100%;
					margin: 0;
					.clearfix;
				}

				li {
					.column(4);
					.centered;
				}

				&.features-right,
				&.features-left {

					li { padding: 0; }

					i {
						.center-block;
						float: none;
						margin-bottom: 0.5em;
					}
				}
			}

			figure {
				.size(610px, 365px);
				.relative;
				float: none;
				.center-block;
				margin-bottom: @padding;
			}

		}

		#ss-devices-block {

			.block-content {
				display: block;
			}

			figure {
				.column(12);

				img {
					width: 120%;
					margin-left: -10%;
				}
			}

			aside {
				.column(10);
				.push(1);

				h2 {
					.centered;
				}
			}
		}

		#ss-icons-block {

			ul li {
				.column(6);
				.push(3);
				margin-bottom: @paddingLarge;
			}
		}
	}


	// RBMUSIC

	.stack-rbmusic {

		#rbmusic-poster {

			&:after { .hide; }

			figure {
				.position-reset;
				.relative;
				.column(8);
				.push(2);
			}
			aside {
				padding-bottom: 0;
			}
		}

		#rbmusic-pips figure {
			.column(12);

			ul li {
				.column(4);
			}
		}

		#rbmusic-bags {

			.block-content { display: block; }

			figure {
				.column(12);

				img { width: 100%; }
			}

			aside {
				padding-bottom: @paddingLarge;
			}
		}

		#rbmusic-poster aside,
		#rbmusic-pips aside,
		#rbmusic-bags aside {
			.column(9);
			.push(1.5);
			.centered;
		}
	}


	// PICTUREHOUSE

	.stack-picturehouse {

		#picturehouse-original {

			.block-content { display: block; }

			figure {
				margin-top: @paddingLarge;
			}
		}

		#picturehouse-original,
		#picturehouse-poster {
			aside {
				.column(9);
				.push(1.5);
				.centered;
				padding: 0;
			}

			figure {
				.column(7);
				.push(2.5);
			}
		}
	}


	// CONTACT

	#contact-form {
		max-width: @mobile-max-width;

		.fieldset,
		.form-actions {
			.column(12);
		}

		.fieldset:first-child { padding-bottom: 0; }

		.form-actions {
			.centered;
		}
	}

}

/* Mobile */

@media handheld, only screen and (max-width: @mobile-max-width) {

	// TYPE

	.gigantic { .huge; }

	h1.title {
		margin-bottom: 0.325em;
	}


	// CONTAINERS

	.block {
		padding-top: @blockPadding/2;
		padding-bottom: @blockPadding/2;
	}
	.block-big {
		padding-top: @headerHeightMobile + @blockPadding/2;
		padding-bottom: @headerHeightMobile + @blockPadding/2;
	}


	// HEADER

	.multi-menu-icon {
		padding: (@menuIconSize/3)*2;
	}

	.next-stack,
	.prev-stack {
		height: @menuIconSize/3 + @menuIconSize*2;
	}

	#global-menu nav ul {
		.column(12);
	}

	.logo { font-size: @mobileLogoWidth; }

	#menu-header .logo,
	.stack-home .logo {
		margin-left: -@mobileLogoWidth/2;
	}

	#stacks-header .stacks-intro {
		padding-top: @paddingSmall;
		padding-bottom: @paddingMini;
	}


	// HOME

	.stack-home {
		.hero-unit:before {
			background-size: 200%;
		}

		.intro-start .yes {
			width: auto;
		}

		.intro-end {
			padding-top: @padding*2;
		}
	}


	// SALESSEEK

	.stack-salesseek {

		.stack-block-header {
			.column(12);

			h1,
			h2 { text-align: left; }
		}

		#ss-intro-block {
			aside {
				.block;
				.column(12);
			}
		}

		#ss-tables-block {
			aside {
				.column(12);
			}

			figure img {
				&:nth-child(2),
				&:first-child {
					.column(8);
				}
				&:nth-child(2) {
					.push(4);
				}
				&:last-child {
					.column(8);
					.push(2);
					margin-bottom: -0.4em;
				}
			}
		}

		#ss-webapp-block {
			&:before {
				top: 85%;
			}

			figure img {
				width: 124%;
				margin-left: -12%;
			}
		}

		#ss-misc-block {
			aside {
				li {
					padding-left: 0;
					padding-right: 0;
					.column(12);
				}
			}
		}

		#ss-filters-block {

			aside {
				.column(12);
				padding-bottom: 0;

				h2 {
					text-align: left;
				}
			}
		}

		#ss-dashboards-block {
			aside li {
				.column(12);

				i {
					float: left;
				}

				> div {
					text-align: left;
					padding-left: 1em;
				}
			}
		}

		#ss-datavis-block {

			figure {
				.column(12);

				img {
					width: 100%;
				}
			}

			aside {
				.column(12);
				margin-bottom: @padding;

				li {
					.column(12);
					padding: @padding/2 0;
					padding-left: 3em;
				}
			}
		}

		#ss-pipeline-block {
			aside {
				.column(12);
				padding-bottom: 0;

				h2 {
					text-align: left;
				}
			}
		}

		#ss-mockups-block {
			aside {
				.column(12);
				padding: 0;
				text-align: left;

				.btn {
					.centered;
					display: inline-block;
				}
			}
		}

		#ss-iphone-block {
			aside {
				.column(12);
				padding-top: 0;
				padding-bottom: 0;

				a img {
					width: auto;
				}
			}
		}

		#ss-iphone-features-block {

			.stack-block-header p {
				text-align: left;
			}

			aside {
				.column(12);

				&.features-left,
				&.features-right {
					li {
						.column(12);
						margin-bottom: @paddingLarge;
					}
				}

				&:last-child {
					// .push(4);
				}
			}

			figure {
				width: 270px;
				height: 450px;
			}
		}

		#ss-devices-block {
			aside {
				.column(12);
				padding-left: 0;
				padding-right: 0;
				padding-bottom: @padding;

				h2 {
					text-align: left;
				}
			}
		}

		#ss-icons-block {
			ul li {
				.column(12);
			}
		}
	}


	// RBMUSIC

	.stack-rbmusic {
		#rbmusic-poster aside,
		#rbmusic-pips aside,
		#rbmusic-bags aside {
			.column(12);
		}

		#rbmusic-poster aside { padding-bottom: 0; }

		#rbmusic-bags figure img  { width: 160%; }
	}


	// PICTUREHOUSE

	.stack-picturehouse {
		#picturehouse-original,
		#picturehouse-poster {
			aside { .column(12); }
			figure { .column(10); .push(1); }
		}
	}


	// ELEMENTS

	input, textarea, keygen, select, button, isindex, img {
		width: 100%;
	}

	button, .btn, input[type="submit"] {
		white-space: normal;
		max-width: @tablet-min-width;

		&.big {
			&:extend(.small);
			letter-spacing: 0.2em;
		}
	}
}

