/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  nav
	=============================================================================
	This file is responsible for all nav styles.
--------------------------------------------------------------------------------------------------------------------- */
nav {
	> ul {
		&:extend(.centered);
	}
}

#global-header {
	.fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: @z-index-header;
	user-select: none;
	.remove-tap-highlight;

	.header-inner {
		background: @wt0;
		transition:
			margin @slow @easeOutQuint,
			background-color @slow ease,
	}
}

// Hiding fixed header
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner {

	&.nav-up {
		margin-top: -@menuIconSize*3;
	}

	&.nav-up,
	&.nav-down {
		height: @headerHeightFixed;
		background: rgba(255, 255, 255, 0.97);

		.multi-menu-icon {
			padding-top: (@headerHeightFixed - @menuIconSize)/2;
			padding-bottom: (@headerHeightFixed - @menuIconSize)/2;
		}

		.next-stack,
		.prev-stack {
			height: @headerHeightFixed;
		}
	}
}

#global-nav {
	.relative;
}

.stacks-nav {
	.absolute;
	right: 0;
	padding-right: @menuIconSize;
	.hide;
}


// Prev / Next icons
// -----------------

.next-stack,
.prev-stack {
	@h: @menuIconSize * 3;
	@w: 28px;

    .ir;
    // font-size: 0;
    .relative;
    .size(@h, @w * 1.75);
    float: left;
    cursor: default;
    overflow: hidden;
    opacity: 0.3; // default disabled
    transition:
    	height @fast ease,
    	opacity @slow ease;

    .arrow {
    	.relative;
    	.square(@w);
    	display: block;
    	overflow: hidden;
    	.absolute;
    	top: 50%;
    	margin-top: -@w/2;
    	left: 50%;
    	margin-left: -@w/2;

    	&:after {
	    	content: '';
	    	display: block;
	    	.absolute;
	    	.size(100%, 100%);
	    	left: @w/4 + 2px;
	    	top: @w/4 + 2px;
	    	border: 2px solid @navControlsColor;
	    	&:extend(.border-box);
	    }
	}

	&:focus {
		outline: none;
	}

	&[href] {
		opacity: 1;
		cursor: pointer;

		&:focus,
		&:hover {
			.arrow:after { border-color: @navControlsColorFocus; }
		}

		&:active {
			opacity: 0.4;
			transition: none;
		}
	}
}

.prev-stack .arrow {
	transform: rotate(45deg);
}

.next-stack .arrow {
	transform: rotate(225deg);
}

.inverse:not(.nav-down) .prev-stack,
.inverse:not(.nav-down) .next-stack {
	.arrow:after {
		border-color: @navControlsColorInverse;
	}
	&[href]:focus,
	&[href]:hover {
		.arrow:after { border-color: @navControlsColorFocusInverse; }
	}
}


// Menu / Back / Close multi-icon
// ------------------------------

.multi-menu-icon {
	@color: @navControlsColor;
	@focus: @navControlsColorFocus;
	@size: @menuIconSize;
	@height: 2px;
	@width: @size;

	padding: @size;
	.absolute;
	top: 0;
	left: 0;
	// left: -@paddingSmall;
	user-select: none;
	overflow: hidden;

	transition:
		padding @fast ease,
		visibility 0ms ease,
		opacity @slower ease;

	.menu-icon {
		.ir;
		.relative;
		float: left;
		.square(@size);
		transform: translate3d(0,0,0);

		span {
			.absolute;
			display: block;
			background: @color;
			.size(@height, @width);
			left: 50%;
			margin-left: -@width/2;
			transition: all @fast ease;
			transition-property: top, transform, width, opacity;

			&.line1 {
				top: @height*3;
				transform-origin: @height*4 -@height/2;
			}

			&.line2 {
				top: floor(@size/2) - 1px;
			}

			&.line3 {
				top: @size - @height*4;
				transform-origin: @height*4 @height + (@height/2);
			}
		}
	}

	.menu-icon-text {
		float: left;
		&:extend(.big);
		line-height: @size;
		.sans;
		color: @color;
		opacity: 0;
		transition: opacity @fast ease;
	}

	&:hover,
	&:focus {
		outline: none;
		.menu-icon span { background: @focus; }
	}

	&:focus,
	&:hover {
		&:not(.close):not(.back) .menu-icon {

			span.line1 {
				top: @height;
			}

			span.line3 {
				top: @size - @height*2;
			}
		}
	}

	&.close .menu-icon span {

		&.line1 {
			width: @size + @size/3;
			transform: rotate(45deg);
		}

		&.line3 {
			width: @size + @size/3;
			transform: rotate(-45deg);
		}

		&.line2 {
			opacity: 0;
		}
	}

	&.back .menu-icon span {

		&.line1 {
			width: @size/3 * 2;
			transform-origin: @size/3 + @height/2 @height*2;
			transform: rotate(-45deg);
		}

		&.line3 {
			width: @size/3 * 2;
			transform-origin: @size/3 + @height/2 -@height;
			transform: rotate(45deg);
		}

		&.line2 {
			opacity: 0;
		}
	}

	&.back .menu-icon-text {
		opacity: 1;
	}
}

.inverse:not(.nav-down) .multi-menu-icon {
	&:not(.close) {
		.menu-icon span {
			background: @navControlsColorInverse;
		}
		.menu-icon-text {
			color: @navControlsColorInverse;
		}
		&:hover,
		&:focus {
			.menu-icon span { background: @navControlsColorFocusInverse; }
			.menu-icon-text { color: @navControlsColorFocusInverse; }
		}
	}
}



#global-menu {
	user-select: none;

	.menu-inner {
		.full-size;
		.fixed;
		z-index: @z-index-menu;
		background: @menuBackground;
		.hide;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	nav {
		.clearfix;
		&:extend(.block-big);

		ul {
			.column(8);
			.push(2);

			> li {
				display: block;
			}
		}

		a {
			display: block;
			&:extend(.huge);
			.sans;
			padding: @paddingMini 0;
			color: @menuColor;
			.remove-tap-highlight;
			transition: opacity, color @slow ease;

			&:hover {
				color: @menuColorHover;
				transition: opacity @slow ease;
			}

			&:active {
				transition: none;
			}

			&:focus {
				outline: none;
			}

			span {
				padding: @paddingMini/3 @paddingMini;
				.border-radius(5px);
			}

			&:focus:not(:active) span {
				background: @bk1;
			}
		}
		a:active,
		.active a {
			color: @menuColorActive;
		}
		.active a:focus:not(:active) span {
			border-bottom-color: @menuColorActive;
		}
	}
}

#menu-header {
	.logo {
		.absolute;
		top: 0;
		left: 50%;
		margin-left: -@optimalLogoWidth/2;
	}
}


// Footer
.footer {
	&:extend(.centered);
	// background: @offWhite;
	.muted;

	.footer-inner {
		&:extend(.container);
	}

	.footer-bottom {
		&:extend(.normal-padding-top-bottom);
	}
}

.inverse .footer,
.footer.inverse {
	color: @textColorMutedInverse;
}

