/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  type.less
	=============================================================================
	This file is responsible for all typography styles.
--------------------------------------------------------------------------------------------------------------------- */

/* Sizing */

.mini {
	font-size: @fontSizeMini;
	line-height: 1.4545454545;
	letter-spacing: 0;
}

.small {
	font-size: @fontSizeSmall;
	line-height: 1.4615384615;
	letter-spacing: 0;
}

.medium {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	letter-spacing: -0.00625em; // -0.1px
}

.big {
	font-size: @fontSizeBig;
	line-height: 1.4090909091;
	letter-spacing: -0.01em;
}

.large {
	font-size: @fontSizeLarge;
	line-height: 1.3;
	letter-spacing: -0.025em;
}

.huge {
	font-size: @fontSizeHuge;
	line-height: 1.25;
	letter-spacing: -0.025em;
}

.massive {
	font-size: @fontSizeMassive;
	line-height: 1.25;
	letter-spacing: -0.025em;
}

.gigantic {
	font-size: @fontSizeGigantic;
	line-height: 1.1029411765;
	letter-spacing: -0.03em;
}

/* Type */

h1, h2, h3, h4, h5, h6 {
	font-family: @headingsFontFamily;
	font-weight: @headingsFontWeight;
	color: @headingsColor;

	&.serif {
		font-weight: @baseFontWeight;
	}
}

h1 {
	&:extend(.massive);
	margin-bottom: 0.2884615385em;

	&.title {
		&:extend(.gigantic);
		margin-bottom: 0.25em;
	}
}
h2 {
	&:extend(.huge);
	margin-bottom: 0.5em;
}
h3 {
	&:extend(.large);
	margin-bottom: 0.4em;
}
h4 {
	&:extend(.big);
	font-weight: @baseFontWeight;
	margin-bottom: @paddingMini;
}
h5 {
	&:extend(.medium);
	font-weight: @baseFontWeight;
	margin-bottom: @paddingSmall;
}
h6 {
	&:extend(.small);
	.uppercase;
	letter-spacing: 0.2em;
	.bold;
	margin-bottom: 1.2307692308em; // =16px ( @paddingSmall @ 1em )
}

p {
	line-height: @baseLineHeight;
	padding-bottom: 1em;
}

a {
	color: @linkColor;
	text-decoration: none;

	&:visited {
		color: @linkColorVisited;
	}
	&:hover {
		color: @linkColorHover;
		transition: opacity @slow ease;
	}
	&:active {
		opacity: 0.4;
		transition: none;
	}
}

.sans {
	font-family: @sansFontFamily;
}

.serif {
	font-family: @serifFontFamily;
}

.small,
small {
	&:extend(.small);
}

.mini {
	&:extend(.mini);
}

.light {
	font-weight: 100;
}

strong,
.bold {
	font-weight: 700;
}

em {
	font-style: italic;
}

.uppercase {
	text-transform: uppercase;
}

code {
	font-family: @monoFontFamily;
	font-size: 0.85em;
}

.muted {
	color: @textColorMuted;
}

.muted-light {
	color: @textColorMutedLight;
}

.inverse {
	color: @textColorInverse;

	a { color: @linkColorInverse; }

	strong { color: @headingsColorInverse; }

	h1, h2, h3, h4, h5, h6 {
		color: @headingsColorInverse;

		strong { color: @textColorInverse; }
	}
}


// Elements

.logo {
	@color: @bk8;

	.relative;
	display: block;
	font-size: @optimalLogoWidth;
	width: 1em;
	line-height: 1em;
	.centered;
	.uppercase;
	.centered;
	.sans;
	color: @color;
	user-select: none;

	.logo-top {
		border: 0.167em solid @color; // ~3px
		border-top-width: 0;
		font-size: 0.24em;
		letter-spacing: 0.05em;
		line-height: 4em * 1.375;
		text-transform: uppercase;
	}
	.logo-bottom {
		width: 100%;
		.bold;
		font-size: 0.16em;
		line-height: 2.25em;
		letter-spacing: 0.25em;
		padding-left: 0.25em;
	}

	&.full .logo-top {
		border-top-width: 0.167em;
	}

	&:focus { outline: none; }
}

a.logo-link {
    @color: @bk8;

    .remove-tap-highlight;
    color: @color;
    opacity: 0.5;

    &:focus,
    &:hover {
    	opacity: 1;
    }
    &:active {
    	opacity: 0.4;
    	transition: none;
    }

    &:focus,
    &:hover,
    &:active,
    &:visited {
    	color: @color;
    }
}

.inverse {
	@color: @wt;

	a.logo-link:focus,
	a.logo-link:hover,
	a.logo-link:active,
	a.logo-link:visited,
	.logo {
		color: @color;
	}

	.logo .logo-top { border-color: @color; }
}

