/* =============================================================================
Type
========================================================================== */

@baseFontSize: 100%; // =16px
@fontSizeMini: 0.6875em; // =11px
@fontSizeSmall: 0.8125em; // =13px
@fontSizeMedium: 1em;
@fontSizeBig: 1.375em; // =22px
@fontSizeLarge: 1.875em; // =30px
@fontSizeHuge: 2.5em; // =40px
@fontSizeMassive: 3.25em; // =52px
@fontSizeGigantic: 4.25em; // =68px
@baseLineHeight: 1.5; // =24px @ 1em
@em: 1em;
@line: @em * @baseLineHeight;
@baseFontWeight: 400;

@baseIconSize: 24px;

@sansFontFamily: Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontFamily: @serifFontFamily;
@altFontFamily: @sansFontFamily;

@headingsFontFamily: @sansFontFamily;
// @headingsFontFamily: @serifFontFamily;
@headingsFontWeight: 100;
@headingsColor: #333;
@headingsColorInverse: @wt;

@textColor: mix(rgb(125,125,125), @primary, 97%);
@textColorInverse: @wt8;
@textColorMuted: lighten(@textColor, 25%);
@textColorMutedInverse: @wt5;
@textColorMutedLight: lighten(@textColorMuted, 8%);

// @bodyBackgroundImage: "../../img-src/JU7A0107.jpg";
// @bodyBackgroundImage: "../../img-src/JU7A0614.jpg";
// @bodyBackgroundImage: "../../img-src/JU7A0730.jpg";
@bodyBackgroundImage: "../../img-src/JU7A0789.jpg";
// @bodyBackgroundImage: "";
// @bodyBackgroundColor: lighten(negation(@textColor, @wt), 100%); //inverse of text color
// @bodyBackgroundColor: desaturate(darken(@primary, 35%), 80%);
@bodyBackgroundColor: desaturate(darken(@primary, 42%), 70%);
// @bodyBackgroundColor: #0F0C15; // Purple
// @bodyBackgroundColor: #2C3438; // Cyan Stone
// @bodyBackgroundColor: #232A31; // Muted dark 007aff

@pageBackground: lighten(@bodyBackgroundColor, 8%);
// @pageBackground: @bodyBackgroundColor;

// @footerBackground: @bodyBackgroundColor;
@footerBackground: @bk0;


/* =============================================================================
Grid
========================================================================== */

@z-index-header: 101;
@z-index-menu: 100;

@mobile-max-width: 480px;
@tablet-min-width: 481px;
@tablet-max-width: 768px;
@desktop-min-width: 769px;
@widescreen-min-width: 1200px;
@cinema-min-width: 1600px;

@containerMaxWidth: @cinema-min-width;
@contentMaxWidth: 1520px;
@contentMaxWidthTablet: 660px;


/* =============================================================================
Basic Measurements and Spacing
========================================================================== */

@padding: @em * 2;
@paddingLarge: @padding * 1.5;
@paddingSmall: @padding / 2;
@paddingMini: @padding / 4;

@margin: @em * 2;

@blockPadding: 80px; // 16px * 5


/* =============================================================================
Navs & Menus
========================================================================== */

@optimalLogoWidth: 75px;
@mobileLogoWidth: @optimalLogoWidth * 0.8;
@headerHeight: ceil(@optimalLogoWidth * 1.72);
@headerHeightMobile: ceil(@mobileLogoWidth * 1.7);
@headerHeightFixed: 60px;

@navControlsColor: @bk6;
@navControlsColorFocus: @bk;
@navControlsColorInverse: @wt8;
@navControlsColorFocusInverse: @wt;

// @menuBackground: rgba(180, 185, 190, 0.95);
@menuBackground: mix(desaturate(lighten(@primary, 23%), 93%), @wt0, 95%);
@menuIconSize: 30px;
@menuColor: @bk6;
@menuColorHover: @bk9;
@menuColorActive: @wt;


/* =============================================================================
Transitions and Animations
========================================================================== */

@faster: 150ms;
@fast: 200ms;
@slow: 400ms;
@slower: 700ms;
@easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
@easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
@easeInIOS: cubic-bezier(0.10, 0.70, 0.10, 1);
@easeOutIOS: cubic-bezier(0.90, 0, 0.90, 0.30);


/* =============================================================================
Colors
========================================================================== */

@primary: #007aff;
@primary: #0091FF;
// @primary: #7231F5; // Indigo
//color of text and main color overall
@secondary: #FAF0D2;
@tertiary: #A1CD41;
@quarternery: #347331;
@quinary: #184347;


// Grays
// -------------------------
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

@bk0: rgba(0, 0, 0, 0);
@bk1: rgba(0, 0, 0, 0.1);
@bk2: rgba(0, 0, 0, 0.2);
@bk3: rgba(0, 0, 0, 0.3);
@bk4: rgba(0, 0, 0, 0.4);
@bk5: rgba(0, 0, 0, 0.5);
@bk6: rgba(0, 0, 0, 0.6);
@bk7: rgba(0, 0, 0, 0.7);
@bk8: rgba(0, 0, 0, 0.8);
@bk9: rgba(0, 0, 0, 0.9);
@bk: rgba(0, 0, 0, 1);

@wt0: rgba(255, 255, 255, 0);
@wt1: rgba(255, 255, 255, 0.1);
@wt2: rgba(255, 255, 255, 0.2);
@wt3: rgba(255, 255, 255, 0.3);
@wt4: rgba(255, 255, 255, 0.4);
@wt5: rgba(255, 255, 255, 0.5);
@wt6: rgba(255, 255, 255, 0.6);
@wt7: rgba(255, 255, 255, 0.7);
@wt8: rgba(255, 255, 255, 0.8);
@wt9: rgba(255, 255, 255, 0.9);
@wt: rgba(255, 255, 255, 1);

// Accent colors
// -------------------------
@blue: #049cdb;
@blueDark: #0064cd;
// @green: #0CCC66;
@green: #00DE68;
// @red: #9d261d;
@red: #FF3D43;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;
@offWhite: mix(@bodyBackgroundColor, @bk0, 6%);


/* =============================================================================
CSS3 PIE settings
========================================================================== */
@pie: true; //enable support for IE6-8 via CSS3 PIE?
@pieDirectory: "/css/PIE.htc";


/* =============================================================================
Elements
========================================================================== */

// Links
// -------------------------
@linkColor: @primary;
@linkColorHover: darken(@linkColor, 10%);
// @linkColorVisited: spin(@linkColorHover, 10);
@linkColorVisited: @linkColor;
@linkColorInverse: lighten(@linkColor, 10%);


// Focus styling
// -------------------------
@focusOutline: @primary;
@focusTrans: mix(@focusOutline, @wt0, 20%);


// Buttons
// -------------------------
@buttonColor: @textColor;
@buttonColorInverse: @wt;


// Fields
// -------------------------
@inputBackground: @wt0;
@inputBackgroundFocus: @bk0;
@inputBorder: @wt3;
@inputBorderFocus: @wt5;
// @inputBorderFocus: @focusOutline;
@inputColor: @wt9;
@inputColorFocus: @wt;
@inputPlaceholder: @wt4;
@inputPlaceholderFocus: @wt6;


// Form states and alerts
// -------------------------
@warningText: darken(@orange, 40%);
@warningBackground: lighten(@orange, 40%);
@warningBorder: darken(spin(@warningBackground, -10), 3%);

// @errorText: lighten(@red, 0%);
@errorText: @wt8;
// @errorBackground: mix(@red, @wt0, 10%);
@errorBackground: @red;
@errorBorder: @errorBackground;

@successText: @wt9;
@successBackground: @green;
@successBorder: @green;

@infoText: @wt9;
@infoBackground: lighten(@primary, 10%);
@infoBorder: darken(spin(@infoBackground, -10), 7%);

@hintText: darken(@yellow, 40%);
@hintBackground: lighten(@yellow, 40%);
@hintBorder: darken(spin(#ad9400, -10), 7%);


