@import "/stylesheets/icons/style.css";
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	Licensed under the GNU Public License

	=============================================================================
	Filename:  style.less
	=============================================================================

--------------------------------------------------------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
form .fieldset,
textarea:not([type]),
input:not([type]),
textarea[type="color"],
input[type="color"],
textarea[type="email"],
input[type="email"],
textarea[type="number"],
input[type="number"],
textarea[type="password"],
input[type="password"],
textarea[type="tel"],
input[type="tel"],
textarea[type="url"],
input[type="url"],
textarea[type="text"],
input[type="text"],
.btn-group,
.next-stack .arrow:after,
.prev-stack .arrow:after,
.container,
.block-content,
.footer .footer-inner,
.hero-unit .hero-inner,
.browserupgrade,
.no-js-alert {
  box-sizing: border-box;
  behavior: url("/css/PIE.htc");
}
.visuallyhidden {
  padding: 0;
}
.section-header .section-header-inner,
.stack-salesseek #ss-misc-block aside li {
  padding: 2em;
}
.footer .footer-bottom,
.stack-salesseek #ss-iphone-features-block aside {
  padding: 2em 0;
}
.stack-block .block-content,
.stack-salesseek #ss-mockups-block aside,
.stack-salesseek #ss-devices-block aside,
.stack-rbmusic #rbmusic-bags figure,
.stack-rbmusic #rbmusic-bags aside,
.stack-picturehouse #picturehouse-original aside,
.container,
.footer .footer-inner,
.hero-unit .hero-inner,
.browserupgrade,
.no-js-alert {
  padding: 0 2em;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  margin: 0;
}
.btn-group,
nav > ul,
.footer,
.section-header,
.hero-unit.centered {
  text-align: center;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  overflow: visible;
}
.visuallyhidden,
.ir,
.next-stack,
.prev-stack,
.multi-menu-icon .menu-icon {
  overflow: hidden;
}
.visuallyhidden {
  position: absolute;
}
.loader-base,
.loader {
  position: fixed;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
}
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	Licensed under the GNU Public License

	=============================================================================
	Filename:  loaders
	=============================================================================
	This file contains css3 loaders for ajax.
--------------------------------------------------------------------------------------------------------------------- */
/* =============================================================================
CSS loaders
========================================================================== */
.loader-base,
.loader {
  width: 2em;
  height: 2em;
  margin: 2em auto;
  border: 5px solid #797e81;
  border-right-color: transparent;
  border-radius: 50%;
  background-clip: padding-box;
  behavior: url("/css/PIE.htc");
  box-shadow: 0 0 1.5em 0.1em #faf0d2;
  animation: loader-spin 1s infinite linear;
  top: 50%;
  left: 50%;
  transition: top 2s ease;
}
.loader-base.hidden {
  top: -200%;
}
.container.loading {
  cursor: wait;
}
.loader:after {
  content: "Loading...";
  font-weight: 100;
}
/* =============================================================================
Loader Animations
========================================================================== */
@keyframes loader-spin {
  from {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
.pulse {
  animation: pulse 700ms infinite alternate ease-out;
}
.pulse:focus,
.pulse:hover {
  animation: none;
}
@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes shimmer-x {
  0% {
    background-position: -150px 0%;
  }
  100% {
    background-position: 150px 0%;
  }
}
@keyframes shimmer-y {
  0% {
    background-position: 0% 150px;
  }
  100% {
    background-position: 0% -150px;
  }
}
/* * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-slow
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-slow {
  display: inline-block;
  transform-origin: center center;
}
.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused;
}
.shake-freeze:hover,
.shake-trigger:hover .shake-freeze,
.shake-slow:hover,
.shake-trigger:hover .shake-slow {
  animation-play-state: running;
}
@keyframes shake-slow {
  2% {
    transform: translate(1px, 7px) rotate(-1.5deg);
  }
  4% {
    transform: translate(6px, -6px) rotate(-1.5deg);
  }
  6% {
    transform: translate(5px, 4px) rotate(0.5deg);
  }
  8% {
    transform: translate(10px, -7px) rotate(2.5deg);
  }
  10% {
    transform: translate(-6px, 10px) rotate(2.5deg);
  }
  12% {
    transform: translate(-6px, -6px) rotate(-0.5deg);
  }
  14% {
    transform: translate(-4px, 9px) rotate(-2.5deg);
  }
  16% {
    transform: translate(-4px, 4px) rotate(1.5deg);
  }
  18% {
    transform: translate(-2px, -3px) rotate(-2.5deg);
  }
  20% {
    transform: translate(3px, 9px) rotate(2.5deg);
  }
  22% {
    transform: translate(1px, -4px) rotate(0.5deg);
  }
  24% {
    transform: translate(9px, 3px) rotate(3.5deg);
  }
  26% {
    transform: translate(-3px, 3px) rotate(-1.5deg);
  }
  28% {
    transform: translate(10px, -7px) rotate(3.5deg);
  }
  30% {
    transform: translate(-6px, -1px) rotate(3.5deg);
  }
  32% {
    transform: translate(-5px, 8px) rotate(-2.5deg);
  }
  34% {
    transform: translate(2px, -2px) rotate(3.5deg);
  }
  36% {
    transform: translate(0px, 3px) rotate(-0.5deg);
  }
  38% {
    transform: translate(-9px, -7px) rotate(-0.5deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(0.5deg);
  }
  42% {
    transform: translate(-9px, 8px) rotate(0.5deg);
  }
  44% {
    transform: translate(1px, -2px) rotate(-0.5deg);
  }
  46% {
    transform: translate(-4px, -8px) rotate(1.5deg);
  }
  48% {
    transform: translate(-7px, 0px) rotate(0.5deg);
  }
  50% {
    transform: translate(6px, -7px) rotate(-2.5deg);
  }
  52% {
    transform: translate(-1px, -2px) rotate(-2.5deg);
  }
  54% {
    transform: translate(8px, 0px) rotate(2.5deg);
  }
  56% {
    transform: translate(-5px, -3px) rotate(2.5deg);
  }
  58% {
    transform: translate(5px, 2px) rotate(-2.5deg);
  }
  60% {
    transform: translate(5px, -3px) rotate(-1.5deg);
  }
  62% {
    transform: translate(1px, -8px) rotate(-1.5deg);
  }
  64% {
    transform: translate(7px, -7px) rotate(0.5deg);
  }
  66% {
    transform: translate(5px, -8px) rotate(1.5deg);
  }
  68% {
    transform: translate(-9px, -6px) rotate(3.5deg);
  }
  70% {
    transform: translate(-2px, -1px) rotate(-2.5deg);
  }
  72% {
    transform: translate(-4px, 3px) rotate(-2.5deg);
  }
  74% {
    transform: translate(8px, -7px) rotate(1.5deg);
  }
  76% {
    transform: translate(-2px, 7px) rotate(-1.5deg);
  }
  78% {
    transform: translate(3px, 7px) rotate(-1.5deg);
  }
  80% {
    transform: translate(1px, -3px) rotate(1.5deg);
  }
  82% {
    transform: translate(-6px, -4px) rotate(0.5deg);
  }
  84% {
    transform: translate(6px, 6px) rotate(-1.5deg);
  }
  86% {
    transform: translate(0px, -2px) rotate(-1.5deg);
  }
  88% {
    transform: translate(9px, -3px) rotate(-0.5deg);
  }
  90% {
    transform: translate(1px, 0px) rotate(1.5deg);
  }
  92% {
    transform: translate(0px, -6px) rotate(-1.5deg);
  }
  94% {
    transform: translate(-1px, -2px) rotate(2.5deg);
  }
  96% {
    transform: translate(5px, 1px) rotate(-2.5deg);
  }
  98% {
    transform: translate(4px, 0px) rotate(-0.5deg);
  }
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
.shake-slow:hover,
.shake-trigger:hover .shake-slow,
.shake-slow.shake-freeze,
.shake-slow.shake-constant {
  animation: shake-slow 4s ease-in-out infinite;
}
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  type.less
	=============================================================================
	This file is responsible for all typography styles.
--------------------------------------------------------------------------------------------------------------------- */
/* Sizing */
.mini,
.mini,
button.small,
.btn.small,
input[type="submit"].small,
button.small,
.btn.small,
input[type="submit"].small {
  font-size: 0.6875em;
  line-height: 1.4545454545;
  letter-spacing: 0;
}
.small,
h6,
.small,
small,
form .error-message,
button,
.btn,
input[type="submit"],
h6,
small,
form .error-message,
button,
.btn,
input[type="submit"] {
  font-size: 0.8125em;
  line-height: 1.4615384615;
  letter-spacing: 0;
}
.medium,
.loader:after,
h5,
textarea:not([type]),
input:not([type]),
textarea[type="color"],
input[type="color"],
textarea[type="email"],
input[type="email"],
textarea[type="number"],
input[type="number"],
textarea[type="password"],
input[type="password"],
textarea[type="tel"],
input[type="tel"],
textarea[type="url"],
input[type="url"],
textarea[type="text"],
input[type="text"],
body {
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: -0.00625em;
}
.big,
h4,
.multi-menu-icon .menu-icon-text,
.hero-unit .description,
.hero-unit .scroll-cta {
  font-size: 1.375em;
  line-height: 1.4090909091;
  letter-spacing: -0.01em;
}
.large,
h3 {
  font-size: 1.875em;
  line-height: 1.3;
  letter-spacing: -0.025em;
}
.huge,
h2,
#global-menu nav a {
  font-size: 2.5em;
  line-height: 1.25;
  letter-spacing: -0.025em;
}
.massive,
h1 {
  font-size: 3.25em;
  line-height: 1.25;
  letter-spacing: -0.025em;
}
.gigantic,
h1.title {
  font-size: 4.25em;
  line-height: 1.1029411765;
  letter-spacing: -0.03em;
}
/* Type */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #333333;
}
h1.serif,
h2.serif,
h3.serif,
h4.serif,
h5.serif,
h6.serif {
  font-weight: 400;
}
h1 {
  margin-bottom: 0.2884615385em;
}
h1.title {
  margin-bottom: 0.25em;
}
h2 {
  margin-bottom: 0.5em;
}
h3 {
  margin-bottom: 0.4em;
}
h4 {
  font-weight: 400;
  margin-bottom: 0.5em;
}
h5 {
  font-weight: 400;
  margin-bottom: 1em;
}
h6 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-bottom: 1.2307692308em;
}
p {
  line-height: 1.5;
  padding-bottom: 1em;
}
a {
  color: #0091ff;
  text-decoration: none;
}
a:visited {
  color: #0091ff;
}
a:hover {
  color: #0074cc;
  transition: opacity 400ms ease;
}
a:active {
  opacity: 0.4;
  transition: none;
}
.sans {
  font-family: Helvetica, Arial, sans-serif;
}
.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.light {
  font-weight: 100;
}
strong,
.bold {
  font-weight: 700;
}
em {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.85em;
}
.muted {
  color: #bbbdbf;
}
.muted-light {
  color: #d0d1d3;
}
.inverse {
  color: rgba(255, 255, 255, 0.8);
}
.inverse a {
  color: #33a7ff;
}
.inverse strong {
  color: #ffffff;
}
.inverse h1,
.inverse h2,
.inverse h3,
.inverse h4,
.inverse h5,
.inverse h6 {
  color: #ffffff;
}
.inverse h1 strong,
.inverse h2 strong,
.inverse h3 strong,
.inverse h4 strong,
.inverse h5 strong,
.inverse h6 strong {
  color: rgba(255, 255, 255, 0.8);
}
.logo {
  position: relative;
  display: block;
  font-size: 75px;
  width: 1em;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  user-select: none;
}
.logo .logo-top {
  border: 0.167em solid rgba(0, 0, 0, 0.8);
  border-top-width: 0;
  font-size: 0.24em;
  letter-spacing: 0.05em;
  line-height: 5.5em;
  text-transform: uppercase;
}
.logo .logo-bottom {
  width: 100%;
  font-weight: 700;
  font-size: 0.16em;
  line-height: 2.25em;
  letter-spacing: 0.25em;
  padding-left: 0.25em;
}
.logo.full .logo-top {
  border-top-width: 0.167em;
}
.logo:focus {
  outline: none;
}
a.logo-link {
  tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
}
a.logo-link:focus,
a.logo-link:hover {
  opacity: 1;
}
a.logo-link:active {
  opacity: 0.4;
  transition: none;
}
a.logo-link:focus,
a.logo-link:hover,
a.logo-link:active,
a.logo-link:visited {
  color: rgba(0, 0, 0, 0.8);
}
.inverse a.logo-link:focus,
.inverse a.logo-link:hover,
.inverse a.logo-link:active,
.inverse a.logo-link:visited,
.inverse .logo {
  color: #ffffff;
}
.inverse .logo .logo-top {
  border-color: #ffffff;
}
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  forms.less
	=============================================================================
	This file is responsible for any styles for forms.
--------------------------------------------------------------------------------------------------------------------- */
form {
  display: block;
  margin: 0 auto;
}
form .fieldset {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}
form .fieldset textarea.form-field,
form .fieldset input.form-field {
  margin-top: 1em;
}
form .error-message {
  position: absolute;
  width: 100%;
  padding: 0.5em 1em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  background: #ff3d43;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: visibility 0s 400ms, transform 400ms ease, opacity 400ms ease;
}
form .form-field.invalid:focus + .error-message {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
  transition: visibility 0s, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 400ms ease;
}
form .form-messages {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 1em;
  z-index: 101;
  background: #33a7ff;
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
form .form-messages.success {
  background: #00de68;
  color: rgba(255, 255, 255, 0.9);
}
form .form-messages.error {
  background: #ff3d43;
  color: rgba(255, 255, 255, 0.8);
}
textarea:not([type]),
input:not([type]),
textarea[type="color"],
input[type="color"],
textarea[type="email"],
input[type="email"],
textarea[type="number"],
input[type="number"],
textarea[type="password"],
input[type="password"],
textarea[type="tel"],
input[type="tel"],
textarea[type="url"],
input[type="url"],
textarea[type="text"],
input[type="text"] {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
  height: 2.625em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0);
  border-radius: 2px;
  transition: background, border, color 200ms ease;
}
textarea:not([type])::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea[type="color"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea[type="email"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea[type="number"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
textarea[type="password"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea[type="tel"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea[type="url"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
textarea[type="text"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
textarea:not([type]):-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea[type="color"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea[type="email"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea[type="number"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
textarea[type="password"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea[type="tel"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea[type="url"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
textarea[type="text"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
textarea:not([type])::-moz-placeholder,
input:not([type])::-moz-placeholder,
textarea[type="color"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea[type="email"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea[type="number"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
textarea[type="password"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea[type="tel"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea[type="url"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
textarea[type="text"]::-moz-placeholder,
input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
textarea:not([type]):-moz-placeholder,
input:not([type]):-moz-placeholder,
textarea[type="color"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
textarea[type="email"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
textarea[type="number"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
textarea[type="password"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea[type="tel"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
textarea[type="url"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
textarea[type="text"]:-moz-placeholder,
input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
textarea:not([type]):focus,
input:not([type]):focus,
textarea[type="color"]:focus,
input[type="color"]:focus,
textarea[type="email"]:focus,
input[type="email"]:focus,
textarea[type="number"]:focus,
input[type="number"]:focus,
textarea[type="password"]:focus,
input[type="password"]:focus,
textarea[type="tel"]:focus,
input[type="tel"]:focus,
textarea[type="url"]:focus,
input[type="url"]:focus,
textarea[type="text"]:focus,
input[type="text"]:focus {
  outline: none;
  background: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}
textarea:not([type]):focus::-webkit-input-placeholder,
input:not([type]):focus::-webkit-input-placeholder,
textarea[type="color"]:focus::-webkit-input-placeholder,
input[type="color"]:focus::-webkit-input-placeholder,
textarea[type="email"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
textarea[type="number"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
textarea[type="password"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea[type="tel"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
textarea[type="url"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
textarea[type="text"]:focus::-webkit-input-placeholder,
input[type="text"]:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
textarea:not([type]):focus:-ms-input-placeholder,
input:not([type]):focus:-ms-input-placeholder,
textarea[type="color"]:focus:-ms-input-placeholder,
input[type="color"]:focus:-ms-input-placeholder,
textarea[type="email"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
textarea[type="number"]:focus:-ms-input-placeholder,
input[type="number"]:focus:-ms-input-placeholder,
textarea[type="password"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
textarea[type="tel"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
textarea[type="url"]:focus:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
textarea[type="text"]:focus:-ms-input-placeholder,
input[type="text"]:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
textarea:not([type]):focus::-moz-placeholder,
input:not([type]):focus::-moz-placeholder,
textarea[type="color"]:focus::-moz-placeholder,
input[type="color"]:focus::-moz-placeholder,
textarea[type="email"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
textarea[type="number"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
textarea[type="password"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea[type="tel"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
textarea[type="url"]:focus::-moz-placeholder,
input[type="url"]:focus::-moz-placeholder,
textarea[type="text"]:focus::-moz-placeholder,
input[type="text"]:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
textarea:not([type]):focus:-moz-placeholder,
input:not([type]):focus:-moz-placeholder,
textarea[type="color"]:focus:-moz-placeholder,
input[type="color"]:focus:-moz-placeholder,
textarea[type="email"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
textarea[type="number"]:focus:-moz-placeholder,
input[type="number"]:focus:-moz-placeholder,
textarea[type="password"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
textarea[type="tel"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
textarea[type="url"]:focus:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
textarea[type="text"]:focus:-moz-placeholder,
input[type="text"]:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
textarea {
  min-height: 6.25em;
  height: auto;
  resize: vertical;
  overflow: auto;
}
textarea[name] {
  line-height: 1.5;
}
textarea.form-field.invalid,
input.form-field.invalid {
  border-color: #ff3d43;
  transform-origin: center center;
}
textarea.form-field.invalid::-webkit-input-placeholder,
input.form-field.invalid::-webkit-input-placeholder {
  color: rgba(255, 144, 148, 0.55);
}
textarea.form-field.invalid:-ms-input-placeholder,
input.form-field.invalid:-ms-input-placeholder {
  color: rgba(255, 144, 148, 0.55);
}
textarea.form-field.invalid::-moz-placeholder,
input.form-field.invalid::-moz-placeholder {
  color: rgba(255, 144, 148, 0.55);
}
textarea.form-field.invalid:-moz-placeholder,
input.form-field.invalid:-moz-placeholder {
  color: rgba(255, 144, 148, 0.55);
}
textarea.form-field.invalid:focus,
input.form-field.invalid:focus {
  border-color: #ff3d43;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
textarea.form-field.invalid:focus::-webkit-input-placeholder,
input.form-field.invalid:focus::-webkit-input-placeholder {
  color: rgba(255, 158, 161, 0.72);
}
textarea.form-field.invalid:focus:-ms-input-placeholder,
input.form-field.invalid:focus:-ms-input-placeholder {
  color: rgba(255, 158, 161, 0.72);
}
textarea.form-field.invalid:focus::-moz-placeholder,
input.form-field.invalid:focus::-moz-placeholder {
  color: rgba(255, 158, 161, 0.72);
}
textarea.form-field.invalid:focus:-moz-placeholder,
input.form-field.invalid:focus:-moz-placeholder {
  color: rgba(255, 158, 161, 0.72);
}
textarea.form-field.valid,
input.form-field.valid {
  animation: field-valid 2s ease-out 0s 1;
}
.form-actions {
  padding-bottom: 2em;
}
.form-actions > input,
.form-actions > .btn,
.form-actions > button {
  margin: 0;
}
@keyframes field-valid {
  from {
    border-color: #00de68;
  }
}
@keyframes shake-horizontal {
  10%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  80% {
    transform: translateX(6px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-8px);
  }
  40%,
  60% {
    transform: translateX(7px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}
.shake-horizontal {
  animation: shake-horizontal 800ms ease-in-out 1;
}
/*--------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  buttons.less
	=============================================================================
	This file is responsible for all button styles.
--------------------------------------------------------------------------------------------------------------------- */
button,
.btn,
input[type="submit"] {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #797e81;
  appearance: none;
  cursor: pointer;
  color: #797e81;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 3px;
  margin: 0 0 2em 0;
  padding: 0.76923077em 2em;
  text-decoration: none;
  white-space: nowrap;
  transition: background, box-shadow, background-image, border-color 200ms, 200ms, 200ms, 200ms ease;
}
button:hover,
.btn:hover,
input[type="submit"]:hover,
button:focus,
.btn:focus,
input[type="submit"]:focus,
button:active,
.btn:active,
input[type="submit"]:active {
  background: #797e81;
  border-color: #797e81;
  color: #ffffff;
}
button:focus,
.btn:focus,
input[type="submit"]:focus {
  outline: none;
}
button:focus:not(:active),
.btn:focus:not(:active),
input[type="submit"]:focus:not(:active) {
  box-shadow: 0 0 0 2px #0091ff;
}
button:active,
.btn:active,
input[type="submit"]:active {
  opacity: 0.5;
}
button.small,
.btn.small,
input[type="submit"].small {
  letter-spacing: 0.1em;
  padding: 0.72727273em 2em;
}
button:disabled,
.btn:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
}
button:disabled:hover,
.btn:disabled:hover,
input[type="submit"]:disabled:hover {
  background: rgba(255, 255, 255, 0);
  color: #797e81;
}
button:disabled:active,
.btn:disabled:active,
input[type="submit"]:disabled:active {
  opacity: 0.4;
}
button.external-link i,
.btn.external-link i,
input[type="submit"].external-link i {
  padding-left: 0.5em;
  opacity: 0.8;
}
.inverse button,
.inverse .btn,
.inverse input[type="submit"],
.inverse button:disabled:hover,
.inverse .btn:disabled:hover,
.inverse input[type="submit"]:disabled:hover {
  background: rgba(255, 255, 255, 0);
  border-color: #ffffff;
  color: #ffffff;
}
.inverse button:hover,
.inverse .btn:hover,
.inverse input[type="submit"]:hover,
.inverse button:focus,
.inverse .btn:focus,
.inverse input[type="submit"]:focus,
.inverse button:active,
.inverse .btn:active,
.inverse input[type="submit"]:active {
  background: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
.inverse .btn-green,
a.btn-green,
.btn-green {
  background: #00de68;
  border-color: #00de68;
  color: #ffffff;
}
.inverse .btn-green:focus,
a.btn-green:focus,
.btn-green:focus,
.inverse .btn-green:hover,
a.btn-green:hover,
.btn-green:hover {
  background: #00ba57;
  border-color: #00ba57;
  color: #ffffff;
}
button[type="submit"].submit,
input[type="submit"].submit {
  position: relative;
  background: #00de68;
  border-color: #00de68;
  color: #ffffff;
}
button[type="submit"].submit:focus,
input[type="submit"].submit:focus,
button[type="submit"].submit:hover,
input[type="submit"].submit:hover {
  background: #00ba57;
  border-color: #00ba57;
  color: #ffffff;
}
button[type="submit"].submit .success-icon,
input[type="submit"].submit .success-icon,
button[type="submit"].submit .spinner,
input[type="submit"].submit .spinner {
  visibility: hidden;
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  left: 50%;
  margin-left: -0.75em;
  width: 1.5em;
  height: 1.5em;
  font-size: 24px;
  text-align: center;
  line-height: 1.5em;
}
button[type="submit"].submit .spinner,
input[type="submit"].submit .spinner {
  animation: spin linear 1s infinite;
}
button[type="submit"].submit .success-icon,
input[type="submit"].submit .success-icon {
  transform: scale(0);
  transition: visibility 0s 400ms, transform 400ms ease, opacity 400ms ease;
}
button[type="submit"].submit .text,
input[type="submit"].submit .text {
  transition: visibility 0s 400ms;
}
button[type="submit"].submit.success .text,
input[type="submit"].submit.success .text,
button[type="submit"].submit.submitting .text,
input[type="submit"].submit.submitting .text {
  visibility: hidden;
  transition: none;
}
button[type="submit"].submit.submitting,
input[type="submit"].submit.submitting {
  background: #bbbdbf;
  border-color: #bbbdbf;
}
button[type="submit"].submit.submitting .spinner,
input[type="submit"].submit.submitting .spinner {
  visibility: visible;
}
button[type="submit"].submit.success .success-icon,
input[type="submit"].submit.success .success-icon {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 400ms ease;
}
.btn-group > input,
.btn-group > .btn,
.btn-group > button {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	LESS Boilerplate
	Licensed under the GNU Public License

	=============================================================================
	Filename:  nav
	=============================================================================
	This file is responsible for all nav styles.
--------------------------------------------------------------------------------------------------------------------- */
#global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  user-select: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
}
#global-header .header-inner {
  background: rgba(255, 255, 255, 0);
  transition: margin 400ms cubic-bezier(0.23, 1, 0.32, 1), background-color 400ms ease;
}
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-up {
  margin-top: -90px;
}
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-up,
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-down {
  height: 60px;
  background: rgba(255, 255, 255, 0.97);
}
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-up .multi-menu-icon,
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-down .multi-menu-icon {
  padding-top: 15px;
  padding-bottom: 15px;
}
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-up .next-stack,
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-down .next-stack,
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-up .prev-stack,
body:not(.menu-active):not(.stacks-animating) #global-header .header-inner.nav-down .prev-stack {
  height: 60px;
}
#global-nav {
  position: relative;
}
.stacks-nav {
  position: absolute;
  right: 0;
  padding-right: 30px;
  display: none;
}
.next-stack,
.prev-stack {
  display: block;
  text-indent: -99in;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  position: relative;
  width: 49px;
  height: 90px;
  float: left;
  cursor: default;
  overflow: hidden;
  opacity: 0.3;
  transition: height 200ms ease, opacity 400ms ease;
}
.next-stack .arrow,
.prev-stack .arrow {
  position: relative;
  width: 28px;
  height: 28px;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 50%;
  margin-left: -14px;
}
.next-stack .arrow:after,
.prev-stack .arrow:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 9px;
  top: 9px;
  border: 2px solid rgba(0, 0, 0, 0.6);
}
.next-stack:focus,
.prev-stack:focus {
  outline: none;
}
.next-stack[href],
.prev-stack[href] {
  opacity: 1;
  cursor: pointer;
}
.next-stack[href]:focus .arrow:after,
.prev-stack[href]:focus .arrow:after,
.next-stack[href]:hover .arrow:after,
.prev-stack[href]:hover .arrow:after {
  border-color: #000000;
}
.next-stack[href]:active,
.prev-stack[href]:active {
  opacity: 0.4;
  transition: none;
}
.prev-stack .arrow {
  transform: rotate(45deg);
}
.next-stack .arrow {
  transform: rotate(225deg);
}
.inverse:not(.nav-down) .prev-stack .arrow:after,
.inverse:not(.nav-down) .next-stack .arrow:after {
  border-color: rgba(255, 255, 255, 0.8);
}
.inverse:not(.nav-down) .prev-stack[href]:focus .arrow:after,
.inverse:not(.nav-down) .next-stack[href]:focus .arrow:after,
.inverse:not(.nav-down) .prev-stack[href]:hover .arrow:after,
.inverse:not(.nav-down) .next-stack[href]:hover .arrow:after {
  border-color: #ffffff;
}
.multi-menu-icon {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  overflow: hidden;
  transition: padding 200ms ease, visibility 0ms ease, opacity 700ms ease;
}
.multi-menu-icon .menu-icon {
  display: block;
  text-indent: -99in;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  transform: translate3d(0, 0, 0);
}
.multi-menu-icon .menu-icon span {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: 30px;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms ease;
  transition-property: top, transform, width, opacity;
}
.multi-menu-icon .menu-icon span.line1 {
  top: 6px;
  transform-origin: 8px -1px;
}
.multi-menu-icon .menu-icon span.line2 {
  top: 14px;
}
.multi-menu-icon .menu-icon span.line3 {
  top: 22px;
  transform-origin: 8px 3px;
}
.multi-menu-icon .menu-icon-text {
  float: left;
  line-height: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 200ms ease;
}
.multi-menu-icon:hover,
.multi-menu-icon:focus {
  outline: none;
}
.multi-menu-icon:hover .menu-icon span,
.multi-menu-icon:focus .menu-icon span {
  background: #000000;
}
.multi-menu-icon:focus:not(.close):not(.back) .menu-icon span.line1,
.multi-menu-icon:hover:not(.close):not(.back) .menu-icon span.line1 {
  top: 2px;
}
.multi-menu-icon:focus:not(.close):not(.back) .menu-icon span.line3,
.multi-menu-icon:hover:not(.close):not(.back) .menu-icon span.line3 {
  top: 26px;
}
.multi-menu-icon.close .menu-icon span.line1 {
  width: 40px;
  transform: rotate(45deg);
}
.multi-menu-icon.close .menu-icon span.line3 {
  width: 40px;
  transform: rotate(-45deg);
}
.multi-menu-icon.close .menu-icon span.line2 {
  opacity: 0;
}
.multi-menu-icon.back .menu-icon span.line1 {
  width: 20px;
  transform-origin: 11px 4px;
  transform: rotate(-45deg);
}
.multi-menu-icon.back .menu-icon span.line3 {
  width: 20px;
  transform-origin: 11px -2px;
  transform: rotate(45deg);
}
.multi-menu-icon.back .menu-icon span.line2 {
  opacity: 0;
}
.multi-menu-icon.back .menu-icon-text {
  opacity: 1;
}
.inverse:not(.nav-down) .multi-menu-icon:not(.close) .menu-icon span {
  background: rgba(255, 255, 255, 0.8);
}
.inverse:not(.nav-down) .multi-menu-icon:not(.close) .menu-icon-text {
  color: rgba(255, 255, 255, 0.8);
}
.inverse:not(.nav-down) .multi-menu-icon:not(.close):hover .menu-icon span,
.inverse:not(.nav-down) .multi-menu-icon:not(.close):focus .menu-icon span {
  background: #ffffff;
}
.inverse:not(.nav-down) .multi-menu-icon:not(.close):hover .menu-icon-text,
.inverse:not(.nav-down) .multi-menu-icon:not(.close):focus .menu-icon-text {
  color: #ffffff;
}
#global-menu {
  user-select: none;
}
#global-menu .menu-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  background: rgba(181, 187, 191, 0.95);
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#global-menu nav {
  *zoom: 1;
}
#global-menu nav:before,
#global-menu nav:after {
  content: "";
  display: table;
}
#global-menu nav:after {
  clear: both;
}
#global-menu nav ul {
  display: inline;
  float: left;
  width: 63.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 18.33333333%;
}
#global-menu nav ul > li {
  display: block;
}
#global-menu nav a {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5em 0;
  color: rgba(0, 0, 0, 0.6);
  tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity, color 400ms ease;
}
#global-menu nav a:hover {
  color: rgba(0, 0, 0, 0.9);
  transition: opacity 400ms ease;
}
#global-menu nav a:active {
  transition: none;
}
#global-menu nav a:focus {
  outline: none;
}
#global-menu nav a span {
  padding: 0.16666667em 0.5em;
  border-radius: 5px;
  background-clip: padding-box;
  behavior: url("/css/PIE.htc");
}
#global-menu nav a:focus:not(:active) span {
  background: rgba(0, 0, 0, 0.1);
}
#global-menu nav a:active,
#global-menu nav .active a {
  color: #ffffff;
}
#global-menu nav .active a:focus:not(:active) span {
  border-bottom-color: #ffffff;
}
#menu-header .logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37.5px;
}
.footer {
  color: #bbbdbf;
}
.inverse .footer,
.footer.inverse {
  color: rgba(255, 255, 255, 0.5);
}
/*------------------------------------------------------------------------------------------------------------------------
    =============================================================================
    Filename:  content
    =============================================================================
    This file is responsible for all content styles.
--------------------------------------------------------------------------------------------------------------------- */
#stacks-header {
  position: relative;
  min-height: 30%;
}
#stacks-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  background: #0e151b;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}
.stacks-visible #stacks-container,
.stacks-animating #stacks-container {
  display: block;
}
#stacks-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  bottom: auto;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  transition: visibility 0ms, opacity 700ms ease;
}
.stacks-animating #stacks-background,
.stacks-visible #stacks-background {
  opacity: 0;
  visibility: hidden;
  transition: visiblity 0ms 700ms, opacity 700ms ease;
}
.stacks-animating #stacks-background {
  transition: none;
}
#stacks {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
#stacks-footer {
  margin-top: 8%;
  background: rgba(0, 0, 0, 0);
}
.stack {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
  margin-bottom: 2%;
  tap-highlight-color: rgba(0, 0, 0, 0);
}
.stack .stack-inner {
  position: relative;
  width: 100%;
  transform: scale(0.4);
  transform-origin: top center;
}
.stack .content-container {
  user-select: none;
  overflow: hidden;
  border-radius: 4px;
  background: #ffffff;
}
.stack .content {
  *zoom: 1;
  margin-left: -2px;
  margin-right: -2px;
}
.stack .content:before,
.stack .content:after {
  content: "";
  display: table;
}
.stack .content:after {
  clear: both;
}
.stack .footer {
  background: #ffffff;
}
.stack .stack-mask {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(14, 21, 27, 0.15);
  transition: background 200ms ease;
}
.stack .stack-mask:hover {
  background: rgba(255, 255, 255, 0.08);
}
.stack .stack-mask:active {
  background: rgba(14, 21, 27, 0.4);
}
.stack .stack-mask:focus {
  outline: none;
}
.stack.focus .stack-mask:not(:active) {
  background: rgba(0, 0, 0, 0);
  transition: none;
}
.stack.selecting {
  z-index: 2;
  margin-bottom: 0;
}
.stack.selecting .content-container {
  border-radius: 0;
}
.stack.selecting .stack-mask {
  display: none;
}
.stack.selecting .stack-block:first-child {
  border-color: transparent;
}
.stack.active {
  margin-bottom: 0;
}
.stack.active .content-container {
  user-select: auto;
  background: rgba(255, 255, 255, 0);
  transition: background-color 700ms ease 500ms;
}
.stack.active .content {
  margin-left: 0;
  margin-right: 0;
}
.stack.top-stack {
  z-index: 4;
}
.stack.top-stack .content-container {
  transition: none;
}
.section-header p {
  padding-bottom: 0;
}
.section-header .logo {
  margin: 0 auto;
}
#stacks-header {
  padding-bottom: 1em;
}
#stacks-header .stacks-intro,
#stacks-header .logo {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 1s,
            opacity 1s ease;
}
.stacks-animating #stacks-header .stacks-intro {
  transition: none;
}
.stacks-visible #stacks-header .stacks-intro {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 1s ease;
}
.stacks-visible #stacks-header .logo {
  transition: none;
  visibility: visible;
  opacity: 0.5;
}
.stacks-visible #stacks-header .logo:focus,
.stacks-visible #stacks-header .logo:hover {
  opacity: 1;
  transition: opacity 400ms ease;
}
.stacks-visible #stacks-header .logo:active {
  opacity: 0.3;
  transition: none;
}
.hero-unit {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero-unit p {
  max-width: 22em;
  padding-bottom: 2em;
}
.hero-unit button.cta {
  border-color: #00de68;
  background: #00de68;
  color: #ffffff;
}
.hero-unit .scroll-cta {
  position: absolute;
  width: 5em;
  height: 5em;
  bottom: 5%;
  left: 50%;
  margin-left: -2.5em;
  font-family: Helvetica, Arial, sans-serif;
  color: #bbbdbf;
  background: linear-gradient(to bottom, #bbbdbf 0%, #797e81 50%, #bbbdbf 100%);
  background-size: 100% 100px;
  animation: shimmer-y 2500ms infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #bbbdbf;
  color: rgba(255, 255, 255, 0);
  -webkit-background-clip: text;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  visibility: hidden;
}
.hero-unit .scroll-cta i {
  display: block;
  font-size: 1.5em;
  line-height: 2em;
}
.hero-unit .scroll-cta:hover {
  animation: none;
  color: #797e81;
}
.hero-unit .hero-logo {
  height: 100px;
  margin-bottom: 2em;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
}
.hero-unit.centered .hero-logo,
.hero-unit.centered p {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-unit.inverse .scroll-cta {
  color: rgba(255, 255, 255, 0.5);
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #ffffff 50%, rgba(255, 255, 255, 0.5) 100%);
  background-size: 100% 100px;
  animation: shimmer-y 2500ms infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0);
  -webkit-background-clip: text;
}
.hero-unit.inverse .scroll-cta:hover {
  color: rgba(255, 255, 255, 0.8);
}
.active .hero-unit .scroll-cta {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 400ms ease;
}
.hero-unit .scroll-cta.invisible {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0ms 400ms, opacity 400ms ease;
}
.stack-content .lazy {
  visibility: hidden;
}
.stack-content .lazy.loaded {
  visibility: visible;
}
.stack-block {
  position: relative;
}
.stack-block .block-content {
  *zoom: 1;
  position: relative;
}
.stack-block .block-content:before,
.stack-block .block-content:after {
  content: "";
  display: table;
}
.stack-block .block-content:after {
  clear: both;
}
.stack-block figure img {
  width: 100%;
  display: block;
}
.stack-block:first-child {
  border-top: 4px solid transparent;
}
.stack-block .bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
}
/* --------------------------------------------------------------------------
Individual Page Styles
-------------------------------------------------------------------------- */
@keyframes background-pan {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: -99999px bottom;
  }
}
.stack-home .content-container,
.stack-home.active .content-container {
  background-color: #1d2a35;
}
.stack-home .hero-unit {
  position: relative;
}
.stack-home .hero-unit:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../img-src/flat-devices.png');
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 65%;
  animation: background-pan 999s linear infinite;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0ms 400ms, opacity 400ms ease;
}
.stack-home .hero-unit .intro-end-content {
  position: relative;
}
.stack-home .hero-unit .hero-inner {
  padding-bottom: 2em;
}
.stack-home .hero-unit .cta-button {
  background: #00de68;
  border-color: #00de68;
  color: #ffffff;
}
.stack-home .intro-start {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  display: none;
}
.stack-home .intro-start .intro-start-inner {
  position: absolute;
  top: 50%;
  margin-top: -5.65625em;
  width: 100%;
}
.stack-home .intro-start .title {
  color: #797e81;
  margin-bottom: 1em;
}
.stack-home .intro-start .yes {
  background-color: #00de68;
  border: none;
  font-size: 1.375em;
  line-height: 1.4090909091;
  letter-spacing: -0.01em;
  border-radius: 5px;
  padding: 0.5em 2em;
  letter-spacing: 0.05em;
  animation: pulse 700ms infinite alternate ease-out;
}
.stack-home .intro-start .yes:focus,
.stack-home .intro-start .yes:hover {
  animation: none;
}
.stack-home .intro-start .yes:focus,
.stack-home .intro-start .yes:hover {
  color: #ffffff;
}
.stack-home .intro-start p em {
  color: #d0d1d3;
}
.stack-home .intro-start.intro-started p,
.stack-home .intro-start.intro-started .yes,
.stack-home .intro-start.intro-started .title {
  display: none;
}
.stack-home .logo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -37.5px;
  transition: opacity 400ms ease;
  cursor: default;
  opacity: 0.4;
}
.stack-home.active .hero-unit:before {
  opacity: 1;
  visibility: visible;
  transition: visibility 0ms, opacity 400ms ease;
}
.stacks-animating .stack-home .logo,
.stacks-visible .stack-home .logo {
  visibility: hidden;
  opacity: 0;
  transition: none;
}
.introduction .multi-menu-icon {
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.introduction .stack-home .intro-start {
  display: block;
}
.introduction .stack-home .intro-end {
  visibility: hidden;
  opacity: 0;
}
.introduction .stack-home .logo {
  transition: opacity 500ms ease;
}
.introduction .stack-home .logo .logo-top {
  transition: opacity 2000ms cubic-bezier(0.23, 1, 0.32, 1);
}
.introduction .stack-home .logo .logo-bottom {
  transition: transform 2000ms cubic-bezier(0.23, 1, 0.32, 1), opacity 2000ms cubic-bezier(0.23, 1, 0.32, 1);
}
.introduction .stack-home .logo.intro-position .logo-top {
  opacity: 0;
}
.introduction .stack-home .logo.intro-position .logo-bottom {
  opacity: 0;
  transform: translateY(-30%);
}
.stack-salesseek .content-container {
  background: #1197f7;
}
.stack-salesseek .stack-block {
  overflow: hidden;
}
.stack-salesseek .stack-block-header {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 26.66666667%;
  margin-bottom: 3em;
}
.stack-salesseek .stack-block-header h2,
.stack-salesseek .stack-block-header h1 {
  text-align: center;
}
.stack-salesseek .slideshow-container {
  position: relative;
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-intro-block {
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #9466c6);
  border-top: none;
  overflow: visible;
}
.stack-salesseek #ss-intro-block .block-content {
  display: table;
  padding-top: 0;
  padding-bottom: 0;
}
.stack-salesseek #ss-intro-block figure,
.stack-salesseek #ss-intro-block aside {
  display: table-cell;
  vertical-align: middle;
}
.stack-salesseek #ss-intro-block figure {
  position: relative;
  width: 65%;
}
.stack-salesseek #ss-intro-block figure img {
  position: absolute;
  bottom: 0;
  width: 1255px;
}
.stack-salesseek #ss-intro-block p {
  padding-bottom: 2em;
}
.stack-salesseek #ss-filters-block {
  background: rgba(0, 0, 0, 0.8);
}
.stack-salesseek #ss-filters-block .bg {
  z-index: 0;
  opacity: 0.3;
  background-position: center top;
  background-size: cover;
}
.stack-salesseek #ss-filters-block aside {
  position: relative;
  display: inline;
  float: left;
  width: 38.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-filters-block figure {
  position: relative;
  display: inline;
  float: left;
  width: 55%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-filters-block figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  border-radius: 0.25em;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.3);
}
.stack-salesseek #ss-mockups-block {
  background: rgba(255, 255, 255, 0.9);
}
.stack-salesseek #ss-mockups-block .block-content {
  display: table;
}
.stack-salesseek #ss-mockups-block figure,
.stack-salesseek #ss-mockups-block aside {
  display: table-cell;
  vertical-align: middle;
}
.stack-salesseek #ss-mockups-block aside p {
  padding-bottom: 2em;
}
.stack-salesseek #ss-mockups-block figure {
  width: 60%;
}
.stack-salesseek #ss-mockups-block figure img {
  width: 130%;
  max-width: 1000px;
}
.stack-salesseek #ss-iphone-block {
  background: #ffffff;
}
.stack-salesseek #ss-iphone-block figure {
  display: inline;
  float: left;
  width: 55%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-block figure ul {
  display: block;
  width: 103.33333333%;
  margin-left: -1.66666667%;
  margin-right: -1.66666667%;
  *zoom: 1;
}
.stack-salesseek #ss-iphone-block figure ul:before,
.stack-salesseek #ss-iphone-block figure ul:after {
  content: "";
  display: table;
}
.stack-salesseek #ss-iphone-block figure ul:after {
  clear: both;
}
.stack-salesseek #ss-iphone-block figure li {
  position: relative;
}
.stack-salesseek #ss-iphone-block figure li:first-child {
  display: inline;
  float: left;
  width: 20%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-block figure li:nth-child(2) {
  display: inline;
  float: left;
  width: 21.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-block figure li:last-child {
  display: inline;
  float: left;
  width: 23.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-block figure img {
  max-width: 459px;
  width: 220%;
}
.stack-salesseek #ss-iphone-block aside {
  display: inline;
  float: left;
  width: 38.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-block aside p {
  padding-bottom: 2em;
}
.stack-salesseek #ss-iphone-features-block {
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.stack-salesseek #ss-iphone-features-block header p {
  text-align: center;
}
.stack-salesseek #ss-iphone-features-block figure {
  position: absolute;
  left: 0;
  display: inline;
  float: left;
  width: 38.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 30.83333333%;
}
.stack-salesseek #ss-iphone-features-block aside {
  display: inline;
  float: left;
  width: 25.83333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-iphone-features-block aside:last-child {
  margin-left: 43.33333333%;
}
.stack-salesseek #ss-iphone-features-block aside ul {
  display: block;
}
.stack-salesseek #ss-iphone-features-block aside li {
  overflow: hidden;
  padding: 2em 0;
  cursor: pointer;
}
.stack-salesseek #ss-iphone-features-block aside li:hover i {
  color: rgba(17, 151, 247, 0.5);
  border-color: rgba(17, 151, 247, 0.5);
}
.stack-salesseek #ss-iphone-features-block aside li:active {
  opacity: 0.4;
}
.stack-salesseek #ss-iphone-features-block aside i {
  font-size: 2em;
  line-height: 2em;
  width: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  behavior: url("/css/PIE.htc");
  border-radius: 50%;
  user-select: none;
}
.stack-salesseek #ss-iphone-features-block aside h5 {
  margin: 0;
}
.stack-salesseek #ss-iphone-features-block aside p {
  padding: 0;
}
.stack-salesseek #ss-iphone-features-block aside li.active {
  opacity: 1;
}
.stack-salesseek #ss-iphone-features-block aside li.active i {
  color: #1197f7;
  border-color: #1197f7;
}
.stack-salesseek #ss-iphone-features-block aside.features-left {
  text-align: right;
}
.stack-salesseek #ss-iphone-features-block aside.features-left li {
  padding-right: 5em;
}
.stack-salesseek #ss-iphone-features-block aside.features-left i {
  float: right;
  margin-right: -2.5em;
}
.stack-salesseek #ss-iphone-features-block aside.features-right {
  text-align: left;
}
.stack-salesseek #ss-iphone-features-block aside.features-right li {
  padding-left: 5em;
}
.stack-salesseek #ss-iphone-features-block aside.features-right i {
  float: left;
  margin-left: -2.5em;
}
.stack-salesseek #ss-devices-block {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #9466c6);
}
.stack-salesseek #ss-devices-block .block-content {
  display: table;
}
.stack-salesseek #ss-devices-block figure,
.stack-salesseek #ss-devices-block aside {
  display: table-cell;
  vertical-align: middle;
}
.stack-salesseek #ss-devices-block figure {
  position: relative;
  width: 60%;
}
.stack-salesseek #ss-devices-block figure img {
  width: 140%;
  max-width: 1240px;
}
.stack-salesseek #ss-icons-block {
  background: #ffffff;
  text-align: center;
}
.stack-salesseek #ss-icons-block .block-content > ul {
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-icons-block li {
  display: inline;
  float: left;
  width: 30%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-icons-block figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 256px;
  margin-bottom: 3em;
}
.stack-salesseek #ss-dashboards-block {
  background: #ffffff;
}
.stack-salesseek #ss-dashboards-block .stack-block-header {
  margin-bottom: 0;
}
.stack-salesseek #ss-dashboards-block figure {
  display: inline;
  float: left;
  width: 71.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 14.16666667%;
}
.stack-salesseek #ss-dashboards-block aside {
  display: inline;
  float: left;
  width: 63.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 18.33333333%;
  padding-top: 2em;
}
.stack-salesseek #ss-dashboards-block aside ul {
  display: block;
  width: 103.33333333%;
  margin-left: -1.66666667%;
  margin-right: -1.66666667%;
  *zoom: 1;
}
.stack-salesseek #ss-dashboards-block aside ul:before,
.stack-salesseek #ss-dashboards-block aside ul:after {
  content: "";
  display: table;
}
.stack-salesseek #ss-dashboards-block aside ul:after {
  clear: both;
}
.stack-salesseek #ss-dashboards-block aside li {
  display: inline;
  float: left;
  width: 30%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  overflow: hidden;
  padding: 1em 0;
  cursor: pointer;
  opacity: 0.4;
  user-select: none;
  transition: opacity 200ms ease;
}
.stack-salesseek #ss-dashboards-block aside li:hover {
  opacity: 0.7;
}
.stack-salesseek #ss-dashboards-block aside li:active {
  opacity: 0.4;
}
.stack-salesseek #ss-dashboards-block aside li > div {
  overflow: hidden;
}
.stack-salesseek #ss-dashboards-block aside i {
  display: block;
  float: left;
  margin-bottom: 0.5em;
  font-size: 2em;
  line-height: 2em;
  margin-right: 0.5em;
  width: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  behavior: url("/css/PIE.htc");
  border-radius: 50%;
}
.stack-salesseek #ss-dashboards-block aside h5 {
  margin-bottom: 0.25em;
  transition: color 200ms ease;
}
.stack-salesseek #ss-dashboards-block aside p {
  color: #bbbdbf;
}
.stack-salesseek #ss-dashboards-block aside li.active {
  opacity: 1;
}
.stack-salesseek #ss-dashboards-block aside li.active i {
  border-color: #1197f7;
  color: #1197f7;
}
.stack-salesseek #ss-dashboards-block aside li.active h5 {
  color: #1197f7;
}
.stack-salesseek #ss-webapp-block {
  position: relative;
}
.stack-salesseek #ss-webapp-block .block-content {
  padding-bottom: 0;
}
.stack-salesseek #ss-webapp-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70%;
  background: rgba(255, 255, 255, 0.9);
}
.stack-salesseek #ss-webapp-block figure {
  position: relative;
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-webapp-block figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 995px;
}
.stack-salesseek #ss-misc-block {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
.stack-salesseek #ss-misc-block aside {
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-misc-block aside ul {
  display: block;
  width: 103.33333333%;
  margin-left: -1.66666667%;
  margin-right: -1.66666667%;
  *zoom: 1;
}
.stack-salesseek #ss-misc-block aside ul:before,
.stack-salesseek #ss-misc-block aside ul:after {
  content: "";
  display: table;
}
.stack-salesseek #ss-misc-block aside ul:after {
  clear: both;
}
.stack-salesseek #ss-misc-block aside li {
  display: inline;
  float: left;
  width: 30%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-misc-block aside i {
  position: absolute;
  float: left;
  width: 1em;
  margin-left: -3em;
  padding: 0 1em;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #00de68;
  display: none;
}
.stack-salesseek #ss-misc-block aside span {
  display: block;
  width: 100%;
  height: 18em;
  margin-bottom: 3em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.3);
}
.stack-salesseek #ss-misc-block aside .ss-activity span {
  background-position: top right;
}
.stack-salesseek #ss-misc-block aside .ss-content span,
.stack-salesseek #ss-misc-block aside .ss-tasks span,
.stack-salesseek #ss-misc-block aside .ss-groups span {
  background-position: top left;
}
.stack-salesseek #ss-misc-block aside .ss-import span {
  background-position: 60% 40%;
}
.stack-salesseek #ss-misc-block aside .ss-mapping span {
  background-position: 50% 45%;
}
.stack-salesseek #ss-tables-block {
  background: rgba(255, 255, 255, 0.9);
}
.stack-salesseek #ss-tables-block .block-content {
  padding-bottom: 0;
}
.stack-salesseek #ss-tables-block section {
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-tables-block figure {
  position: relative;
  display: block;
  width: 103.33333333%;
  margin-left: -1.66666667%;
  margin-right: -1.66666667%;
  *zoom: 1;
}
.stack-salesseek #ss-tables-block figure:before,
.stack-salesseek #ss-tables-block figure:after {
  content: "";
  display: table;
}
.stack-salesseek #ss-tables-block figure:after {
  clear: both;
}
.stack-salesseek #ss-tables-block figure img:first-child {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  position: absolute;
  left: 0;
  margin-top: 5%;
}
.stack-salesseek #ss-tables-block figure img:nth-child(2) {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 51.66666667%;
  position: absolute;
  left: 0;
  margin-top: 5%;
}
.stack-salesseek #ss-tables-block figure img:last-child {
  position: relative;
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 26.66666667%;
  margin-bottom: -2em;
}
.stack-salesseek #ss-datavis-block {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #9466c6);
}
.stack-salesseek #ss-datavis-block figure {
  display: inline;
  float: left;
  width: 63.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-datavis-block figure img {
  width: 115%;
  max-width: 1392px;
}
.stack-salesseek #ss-datavis-block aside {
  display: inline;
  float: left;
  width: 30%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-datavis-block aside ul {
  display: block;
  *zoom: 1;
}
.stack-salesseek #ss-datavis-block aside ul:before,
.stack-salesseek #ss-datavis-block aside ul:after {
  content: "";
  display: table;
}
.stack-salesseek #ss-datavis-block aside ul:after {
  clear: both;
}
.stack-salesseek #ss-datavis-block aside li {
  overflow: hidden;
  padding: 2em;
  padding-left: 4em;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease;
}
.stack-salesseek #ss-datavis-block aside li:hover {
  opacity: 1;
}
.stack-salesseek #ss-datavis-block aside li:active {
  opacity: 0.4;
}
.stack-salesseek #ss-datavis-block aside i {
  position: absolute;
  margin-left: -2em;
  display: block;
  font-size: 2em;
  line-height: 1em;
  width: 2em;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  user-select: none;
  transition: color 400ms ease;
}
.stack-salesseek #ss-datavis-block aside p {
  padding: 0;
}
.stack-salesseek #ss-datavis-block aside li.active {
  opacity: 1;
}
.stack-salesseek #ss-datavis-block aside li.active i {
  color: #ffffff;
  border-color: #ffffff;
}
.stack-salesseek #ss-campaign-block {
  background: rgba(0, 0, 0, 0.7);
}
.stack-salesseek #ss-campaign-block figure {
  display: inline;
  float: left;
  width: 96.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-campaign-block figure ul {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1042px;
  overflow: hidden;
  border-radius: 0.25em;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.stack-salesseek #ss-pipeline-block {
  background: rgba(255, 255, 255, 0.9);
}
.stack-salesseek #ss-pipeline-block aside {
  display: inline;
  float: left;
  width: 38.33333333%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-pipeline-block figure {
  display: inline;
  float: left;
  width: 55%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-salesseek #ss-pipeline-block figure ul {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 722px;
}
.stack-rbmusic .content-container {
  background: #0e3771;
}
.stack-rbmusic.active .content-container {
  background: rgba(14, 54, 111, 0.88);
}
.stack-rbmusic .hero-unit {
  margin-bottom: -2px;
}
.stack-rbmusic .stack-block:first-child {
  border-top-color: #0e3771;
}
.stack-rbmusic #rbmusic-poster {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.stack-rbmusic #rbmusic-poster:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 -200px 100px -100px rgba(0, 0, 0, 0.3);
}
.stack-rbmusic #rbmusic-poster figure {
  display: inline;
  float: left;
  width: 42.5%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  position: absolute;
  top: 13%;
  height: 87%;
}
.stack-rbmusic #rbmusic-poster figure .arrow-image {
  position: absolute;
  right: -35%;
  top: -7%;
  width: 50%;
}
.stack-rbmusic #rbmusic-poster figure .poster {
  border-radius: 3px;
  background-clip: padding-box;
  behavior: url("/css/PIE.htc");
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.stack-rbmusic #rbmusic-poster aside {
  position: relative;
  display: inline;
  float: left;
  width: 42.5%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 55.83333333%;
}
.stack-rbmusic #rbmusic-pips {
  background: #ffffff;
  text-align: center;
}
.stack-rbmusic #rbmusic-pips figure {
  padding-bottom: 3em;
  display: inline;
  float: left;
  width: 71.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 14.16666667%;
}
.stack-rbmusic #rbmusic-pips figure ul {
  display: block;
  *zoom: 1;
}
.stack-rbmusic #rbmusic-pips figure ul:before,
.stack-rbmusic #rbmusic-pips figure ul:after {
  content: "";
  display: table;
}
.stack-rbmusic #rbmusic-pips figure ul:after {
  clear: both;
}
.stack-rbmusic #rbmusic-pips figure ul li {
  display: inline;
  float: left;
  width: 30%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
.stack-rbmusic #rbmusic-pips figure ul li img {
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.stack-rbmusic #rbmusic-pips figure ul li:nth-child(2) {
  margin-top: 3%;
}
.stack-rbmusic #rbmusic-pips aside {
  display: inline;
  float: left;
  width: 55%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 22.5%;
  padding-top: 3em;
}
.stack-rbmusic #rbmusic-pips .full-photo {
  *zoom: 1;
  position: relative;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.stack-rbmusic #rbmusic-pips .full-photo:before,
.stack-rbmusic #rbmusic-pips .full-photo:after {
  content: "";
  display: table;
}
.stack-rbmusic #rbmusic-pips .full-photo:after {
  clear: both;
}
.stack-rbmusic #rbmusic-bags {
  background: #ffffff;
}
.stack-rbmusic #rbmusic-bags .block-content {
  display: table;
}
.stack-rbmusic #rbmusic-bags figure,
.stack-rbmusic #rbmusic-bags aside {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.stack-rbmusic #rbmusic-bags figure {
  position: relative;
}
.stack-rbmusic #rbmusic-bags figure img {
  width: 170%;
}
.stack-picturehouse .content-container {
  background: rgba(0, 0, 0, 0.3);
}
.stack-picturehouse .hero-unit {
  background: rgba(255, 255, 255, 0.95);
}
.stack-picturehouse figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.stack-picturehouse #picturehouse-original {
  background: #ffffff;
}
.stack-picturehouse #picturehouse-original .block-content {
  display: table;
}
.stack-picturehouse #picturehouse-original aside,
.stack-picturehouse #picturehouse-original figure {
  display: table-cell;
  vertical-align: middle;
}
.stack-picturehouse #picturehouse-original figure {
  width: 50%;
}
.stack-picturehouse #picturehouse-original figure img {
  max-width: 400px;
}
.stack-picturehouse #picturehouse-poster {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}
.stack-picturehouse #picturehouse-poster figure {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 26.66666667%;
  margin-bottom: 3em;
}
.stack-picturehouse #picturehouse-poster figure img {
  max-width: 438.5px;
}
.stack-picturehouse #picturehouse-poster aside {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 26.66666667%;
  text-align: center;
}
.slideshow {
  position: relative;
}
.slideshow li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.slideshow li:first-child {
  position: relative;
}
.slideshow li.active {
  z-index: 1;
}
.slideshow.iphone-slideshow {
  width: 547px;
  height: 915px;
}
.slideshow.iphone-slideshow .iphone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../img-src/iphone6.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: 1;
}
.slideshow.iphone-slideshow ul {
  display: block;
}
.slideshow.iphone-slideshow ul:before {
  content: '';
  position: absolute;
  top: 0;
  margin-top: 18%;
  left: 14%;
  width: 73%;
  padding-top: 125%;
  background: #222222;
}
.slideshow.iphone-slideshow li {
  top: auto;
  left: 15.7%;
  margin-top: 19.5%;
  width: 68.7%;
}
.slideshow.iphone-slideshow li:first-child {
  position: absolute;
}
#contact {
  text-align: center;
  background: #1d2a35;
}
#contact .content p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
#contact .footer {
  background: rgba(0, 0, 0, 0);
}
#contact-form {
  max-width: 768px;
  *zoom: 1;
}
#contact-form:before,
#contact-form:after {
  content: "";
  display: table;
}
#contact-form:after {
  clear: both;
}
#contact-form .fieldset {
  max-width: none;
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
}
#contact-form .form-actions {
  display: inline;
  float: left;
  width: 46.66666667%;
  margin-left: 1.66666667%;
  margin-right: 1.66666667%;
  margin-left: 51.66666667%;
  text-align: right;
}
#notfound {
  text-align: center;
  background: #1d2a35;
}
#notfound h2 {
  color: rgba(255, 255, 255, 0.5);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#notfound p {
  padding-bottom: 2em;
}
#notfound .btn {
  display: inline-block;
}
html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  color: #797e81;
  background-color: #0e151b;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-smoothing: antialiased;
}
body ::selection {
  background-color: #0091ff;
  color: #ffffff;
}
.block,
.stack-block .block-content,
.stack-salesseek #ss-filters-block aside,
.stack-salesseek #ss-pipeline-block aside,
.stack-rbmusic #rbmusic-poster aside {
  padding-top: 80px;
  padding-bottom: 80px;
}
.block-big,
#global-menu nav,
.hero-unit .hero-inner,
.stack-salesseek #ss-intro-block aside,
.stack-salesseek #ss-iphone-block aside,
.stack-rbmusic .hero-unit .hero-inner {
  padding-top: 169px;
  padding-bottom: 169px;
}
.container,
.footer .footer-inner,
.hero-unit .hero-inner,
.browserupgrade,
.no-js-alert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
.block-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1520px;
}
.velocity-animating {
  transition: none;
}
.browserupgrade,
.no-js-alert {
  max-width: 800px;
  padding-top: 169px;
  padding-bottom: 169px;
  color: rgba(255, 255, 255, 0.8);
}
.no-js-alert {
  text-align: center;
  display: none;
}
.no-js .no-js-alert {
  display: block;
}
.lt-ie9 #page-container {
  display: none;
}
/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores

	twitter: http://twitter.com/S.Goresht


	Licensed under the GNU Public License

	=============================================================================
	Filename:  media-queries.less
	=============================================================================
	This file is responsible for all responsiveness in the template.
 --------------------------------------------------------------------------------------------------------------------- */
/* Desktop */
@media only screen and (min-width: 769px) {
  .block,
  .stack-block .block-content,
  .stack-salesseek #ss-filters-block aside,
  .stack-salesseek #ss-pipeline-block aside,
  .stack-rbmusic #rbmusic-poster aside {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .block-big,
  #global-menu nav,
  .hero-unit .hero-inner,
  .stack-salesseek #ss-intro-block aside,
  .stack-salesseek #ss-iphone-block aside,
  .stack-rbmusic .hero-unit .hero-inner {
    padding-top: 222px;
    padding-bottom: 222px;
  }
}
@media handheld, only screen and (max-width: 1200px) {
  .stack-salesseek #ss-datavis-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-datavis-block figure img {
    width: 100%;
  }
  .stack-salesseek #ss-datavis-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-bottom: 2em;
  }
  .stack-salesseek #ss-datavis-block aside li {
    display: inline;
    float: left;
    width: 46.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-iphone-features-block aside {
    display: inline;
    float: left;
    width: 30%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-iphone-features-block aside:last-child {
    margin-left: 35%;
  }
}
/* Bigger Desktops */
@media only screen and (min-width: 1200px) {
  .block,
  .stack-block .block-content,
  .stack-salesseek #ss-filters-block aside,
  .stack-salesseek #ss-pipeline-block aside,
  .stack-rbmusic #rbmusic-poster aside {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .block-big,
  .stack-rbmusic #rbmusic-poster .block-content,
  #global-menu nav,
  .hero-unit .hero-inner,
  .stack-salesseek #ss-intro-block aside,
  .stack-salesseek #ss-iphone-block aside,
  .stack-rbmusic .hero-unit .hero-inner {
    padding-top: 249px;
    padding-bottom: 249px;
  }
}
/* Cinema Displays */
@media only screen and (min-width: 1600px) {
  body {
    font-size: 18px;
  }
}
/* Tablet and below */
@media handheld, only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .big,
  h4,
  .multi-menu-icon .menu-icon-text,
  .hero-unit .description,
  .hero-unit .scroll-cta {
    font-size: 100%;
    line-height: 1.5;
    letter-spacing: -0.00625em;
  }
  .large,
  h3 {
    font-size: 1.375em;
    line-height: 1.4090909091;
    letter-spacing: -0.01em;
  }
  .huge,
  h2,
  #global-menu nav a {
    font-size: 1.875em;
    line-height: 1.3;
    letter-spacing: -0.025em;
  }
  .massive,
  h1 {
    font-size: 2.5em;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }
  .gigantic,
  h1.title {
    font-size: 3.25em;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }
  h1.title {
    margin-bottom: 0.2884615385em;
  }
  h1 {
    margin-bottom: 0.325em;
  }
  h2 {
    margin-bottom: 0.4em;
  }
  h3 {
    margin-bottom: 0.5em;
    font-weight: 400;
  }
  .normal-padding,
  .section-header .section-header-inner,
  .stack-salesseek #ss-misc-block aside li {
    padding: 1em;
  }
  .normal-padding-left-right,
  .stack-block .block-content,
  .stack-salesseek #ss-mockups-block aside,
  .stack-salesseek #ss-devices-block aside,
  .stack-rbmusic #rbmusic-bags figure,
  .stack-rbmusic #rbmusic-bags aside,
  .stack-picturehouse #picturehouse-original aside,
  .container,
  .footer .footer-inner,
  .hero-unit .hero-inner,
  .browserupgrade,
  .no-js-alert {
    padding-left: 1em;
    padding-right: 1em;
  }
  .normal-padding-top-bottom,
  .footer .footer-bottom,
  .stack-salesseek #ss-iphone-features-block aside {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .block-content {
    max-width: 660px;
  }
  .btn-group-split {
    *zoom: 1;
  }
  .btn-group-split:before,
  .btn-group-split:after {
    content: "";
    display: table;
  }
  .btn-group-split:after {
    clear: both;
  }
  .btn-group-split button,
  .btn-group-split .btn,
  .btn-group-split input[type="submit"] {
    max-width: none;
    display: inline;
    float: left;
    width: 46.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .multi-menu-icon .menu-icon-text {
    line-height: 30px;
  }
  .stack-home .hero-unit:before {
    background-size: 100%;
  }
  .stack-content .stack-block .block-content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .stack-salesseek .stack-block-header {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
  }
  .stack-salesseek #ss-intro-block .block-content {
    display: block;
  }
  .stack-salesseek #ss-intro-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  .stack-salesseek #ss-intro-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-intro-block figure img {
    position: relative;
    width: 125%;
  }
  .stack-salesseek #ss-misc-block aside li {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
  }
  .stack-salesseek #ss-filters-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-filters-block aside h2 {
    text-align: center;
  }
  .stack-salesseek #ss-filters-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-dashboards-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    text-align: center;
  }
  .stack-salesseek #ss-dashboards-block aside i {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .stack-salesseek #ss-dashboards-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-pipeline-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
    padding-top: 3em;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-pipeline-block aside h2 {
    text-align: center;
  }
  .stack-salesseek #ss-pipeline-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-mockups-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
    padding-bottom: 3em;
    text-align: center;
  }
  .stack-salesseek #ss-mockups-block aside p {
    text-align: left;
  }
  .stack-salesseek #ss-mockups-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-mockups-block figure img {
    width: 100%;
  }
  .stack-salesseek #ss-iphone-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-iphone-block figure {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
  }
  .stack-salesseek #ss-iphone-features-block aside,
  .stack-salesseek #ss-iphone-features-block aside:last-child {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    *zoom: 1;
  }
  .stack-salesseek #ss-iphone-features-block aside:before,
  .stack-salesseek #ss-iphone-features-block aside:last-child:before,
  .stack-salesseek #ss-iphone-features-block aside:after,
  .stack-salesseek #ss-iphone-features-block aside:last-child:after {
    content: "";
    display: table;
  }
  .stack-salesseek #ss-iphone-features-block aside:after,
  .stack-salesseek #ss-iphone-features-block aside:last-child:after {
    clear: both;
  }
  .stack-salesseek #ss-iphone-features-block aside li {
    display: inline;
    float: left;
    width: 30%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    text-align: center;
  }
  .stack-salesseek #ss-iphone-features-block aside.features-right li,
  .stack-salesseek #ss-iphone-features-block aside.features-left li {
    padding: 0;
  }
  .stack-salesseek #ss-iphone-features-block aside.features-right i,
  .stack-salesseek #ss-iphone-features-block aside.features-left i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-bottom: 0.5em;
  }
  .stack-salesseek #ss-iphone-features-block figure {
    width: 365px;
    height: 610px;
    position: relative;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  .stack-salesseek #ss-devices-block .block-content {
    display: block;
  }
  .stack-salesseek #ss-devices-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-devices-block figure img {
    width: 120%;
    margin-left: -10%;
  }
  .stack-salesseek #ss-devices-block aside {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
  }
  .stack-salesseek #ss-devices-block aside h2 {
    text-align: center;
  }
  .stack-salesseek #ss-icons-block ul li {
    display: inline;
    float: left;
    width: 46.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 26.66666667%;
    margin-bottom: 3em;
  }
  .stack-rbmusic #rbmusic-poster:after {
    display: none;
  }
  .stack-rbmusic #rbmusic-poster figure {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    position: relative;
    display: inline;
    float: left;
    width: 63.33333333%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 18.33333333%;
  }
  .stack-rbmusic #rbmusic-poster aside {
    padding-bottom: 0;
  }
  .stack-rbmusic #rbmusic-pips figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-rbmusic #rbmusic-pips figure ul li {
    display: inline;
    float: left;
    width: 30%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-rbmusic #rbmusic-bags .block-content {
    display: block;
  }
  .stack-rbmusic #rbmusic-bags figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-rbmusic #rbmusic-bags figure img {
    width: 100%;
  }
  .stack-rbmusic #rbmusic-bags aside {
    padding-bottom: 3em;
  }
  .stack-rbmusic #rbmusic-poster aside,
  .stack-rbmusic #rbmusic-pips aside,
  .stack-rbmusic #rbmusic-bags aside {
    display: inline;
    float: left;
    width: 71.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 14.16666667%;
    text-align: center;
  }
  .stack-picturehouse #picturehouse-original .block-content {
    display: block;
  }
  .stack-picturehouse #picturehouse-original figure {
    margin-top: 3em;
  }
  .stack-picturehouse #picturehouse-original aside,
  .stack-picturehouse #picturehouse-poster aside {
    display: inline;
    float: left;
    width: 71.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 14.16666667%;
    text-align: center;
    padding: 0;
  }
  .stack-picturehouse #picturehouse-original figure,
  .stack-picturehouse #picturehouse-poster figure {
    display: inline;
    float: left;
    width: 55%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 22.5%;
  }
  #contact-form {
    max-width: 480px;
  }
  #contact-form .fieldset,
  #contact-form .form-actions {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  #contact-form .fieldset:first-child {
    padding-bottom: 0;
  }
  #contact-form .form-actions {
    text-align: center;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 480px) {
  .gigantic,
  h1.title {
    font-size: 2.5em;
    line-height: 1.25;
    letter-spacing: -0.025em;
  }
  h1.title {
    margin-bottom: 0.325em;
  }
  .block,
  .stack-block .block-content,
  .stack-salesseek #ss-filters-block aside,
  .stack-salesseek #ss-pipeline-block aside,
  .stack-rbmusic #rbmusic-poster aside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .block-big,
  #global-menu nav,
  .hero-unit .hero-inner,
  .stack-salesseek #ss-intro-block aside,
  .stack-salesseek #ss-iphone-block aside,
  .stack-rbmusic .hero-unit .hero-inner {
    padding-top: 142px;
    padding-bottom: 142px;
  }
  .multi-menu-icon {
    padding: 20px;
  }
  .next-stack,
  .prev-stack {
    height: 70px;
  }
  #global-menu nav ul {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .logo {
    font-size: 60px;
  }
  #menu-header .logo,
  .stack-home .logo {
    margin-left: -30px;
  }
  #stacks-header .stacks-intro {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  .stack-home .hero-unit:before {
    background-size: 200%;
  }
  .stack-home .intro-start .yes {
    width: auto;
  }
  .stack-home .intro-end {
    padding-top: 4em;
  }
  .stack-salesseek .stack-block-header {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek .stack-block-header h1,
  .stack-salesseek .stack-block-header h2 {
    text-align: left;
  }
  .stack-salesseek #ss-intro-block aside {
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-tables-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-tables-block figure img:nth-child(2),
  .stack-salesseek #ss-tables-block figure img:first-child {
    display: inline;
    float: left;
    width: 63.33333333%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-tables-block figure img:nth-child(2) {
    margin-left: 35%;
  }
  .stack-salesseek #ss-tables-block figure img:last-child {
    display: inline;
    float: left;
    width: 63.33333333%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 18.33333333%;
    margin-bottom: -0.4em;
  }
  .stack-salesseek #ss-webapp-block:before {
    top: 85%;
  }
  .stack-salesseek #ss-webapp-block figure img {
    width: 124%;
    margin-left: -12%;
  }
  .stack-salesseek #ss-misc-block aside li {
    padding-left: 0;
    padding-right: 0;
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-filters-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-filters-block aside h2 {
    text-align: left;
  }
  .stack-salesseek #ss-dashboards-block aside li {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-dashboards-block aside li i {
    float: left;
  }
  .stack-salesseek #ss-dashboards-block aside li > div {
    text-align: left;
    padding-left: 1em;
  }
  .stack-salesseek #ss-datavis-block figure {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-datavis-block figure img {
    width: 100%;
  }
  .stack-salesseek #ss-datavis-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-bottom: 2em;
  }
  .stack-salesseek #ss-datavis-block aside li {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding: 1em 0;
    padding-left: 3em;
  }
  .stack-salesseek #ss-pipeline-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-pipeline-block aside h2 {
    text-align: left;
  }
  .stack-salesseek #ss-mockups-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding: 0;
    text-align: left;
  }
  .stack-salesseek #ss-mockups-block aside .btn {
    text-align: center;
    display: inline-block;
  }
  .stack-salesseek #ss-iphone-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .stack-salesseek #ss-iphone-block aside a img {
    width: auto;
  }
  .stack-salesseek #ss-iphone-features-block .stack-block-header p {
    text-align: left;
  }
  .stack-salesseek #ss-iphone-features-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-salesseek #ss-iphone-features-block aside.features-left li,
  .stack-salesseek #ss-iphone-features-block aside.features-right li {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-bottom: 3em;
  }
  .stack-salesseek #ss-iphone-features-block figure {
    width: 270px;
    height: 450px;
  }
  .stack-salesseek #ss-devices-block aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2em;
  }
  .stack-salesseek #ss-devices-block aside h2 {
    text-align: left;
  }
  .stack-salesseek #ss-icons-block ul li {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-rbmusic #rbmusic-poster aside,
  .stack-rbmusic #rbmusic-pips aside,
  .stack-rbmusic #rbmusic-bags aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-rbmusic #rbmusic-poster aside {
    padding-bottom: 0;
  }
  .stack-rbmusic #rbmusic-bags figure img {
    width: 160%;
  }
  .stack-picturehouse #picturehouse-original aside,
  .stack-picturehouse #picturehouse-poster aside {
    display: inline;
    float: left;
    width: 96.66666667%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
  }
  .stack-picturehouse #picturehouse-original figure,
  .stack-picturehouse #picturehouse-poster figure {
    display: inline;
    float: left;
    width: 80%;
    margin-left: 1.66666667%;
    margin-right: 1.66666667%;
    margin-left: 10%;
  }
  input,
  textarea,
  keygen,
  select,
  button,
  isindex,
  img {
    width: 100%;
  }
  button,
  .btn,
  input[type="submit"] {
    white-space: normal;
    max-width: 481px;
  }
  button.big,
  .btn.big,
  input[type="submit"].big {
    letter-spacing: 0.2em;
  }
}
