@font-face {
	font-family: 'yb-icons';
	src:url('../icons/fonts/yb-icons.eot?62bvw9');
	src:url('../icons/fonts/yb-icons.eot?62bvw9#iefix') format('embedded-opentype'),
		url('../icons/fonts/yb-icons.ttf?62bvw9') format('truetype'),
		url('../icons/fonts/yb-icons.woff?62bvw9') format('woff'),
		url('../icons/fonts/yb-icons.svg?62bvw9#yb-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'yb-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e002";
}
.icon-lock:before {
	content: "\e007";
}
.icon-unlock:before {
	content: "\e008";
}
.icon-clock:before {
	content: "\e014";
}
.icon-align-left:before {
	content: "\e027";
}
.icon-search:before {
	content: "\e036";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-zoom-out:before {
	content: "\e038";
}
.icon-head:before {
	content: "\e074";
}
.icon-speech-bubble:before {
	content: "\e076";
}
.icon-globe:before {
	content: "\e078";
}
.icon-reload:before {
	content: "\e080";
}
.icon-esc:before {
	content: "\e089";
}
.icon-arrow-left:before {
	content: "\e094";
}
.icon-arrow-right:before {
	content: "\e095";
}
.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-loader:before {
	content: "\e105";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-open:before {
	content: "\e128";
}

